<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>Name:</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i=0;i < data.length; i++){ %>
                <tr>
                    <td><%=data[i].C_ID%></td>
                    <td><%=data[i].C_Name%></td>
                    <td><a>Sửa</a></td>
                    <td><a>Xóa</a></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>