<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../public/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../publics/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%=title%></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/assets/css/custom.css">
    <link rel="stylesheet" href="../../public/assets/css/light-bootstrap-dashboard.css">
    <link rel="stylesheet" href="../../public/assets/css/jquery.dataTables.min.css">
    <script src="../../public/assets/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="../../public/assets/css/demo.css">
    <link rel="stylesheet" href="../../public/assets/css/fontawesome-all.css">
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.css">
    <script src="../../public/assets/ckeditor/ckeditor.js"></script>

</head>

<body>
<div class="wrapper">
    <div class="sidebar" data-image="/assets/img/sidebar-5.jpg" style="font-size: 20px">
        <div class="sidebar-wrapper" >
            <div class="logo">

                <a class="nav-link" href="/admin/books">
                    <img src="../../public/assets/img/logo1.jpg" class="rounded" alt="Cinque Terre" width="70px" , height="70px">
                    <p>Vim Story</p>
                </a>
            </div>
            <ul class="nav">
                <li class =" nav-item ">
                    <a class="nav-link" href="/admin/categories">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p>Category Management</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/admin/users">
                        <i class="nc-icon nc-notes"></i>
                        <p>User Management</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/admin/books">
                        <i class="nc-icon nc-notes"></i>
                        <p>Book Management</p>
                    </a>
                </li>
                <li class =" nav-item active">
                    <a class="nav-link" href="/VimStory-backend/views/admin/pendingBook.html">
                        <i class="nc-icon nc-notes"></i>
                        <p>Pending Books</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class=" container-fluid  ">

                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <div class="nav-item">
                            <!-- <img src="assets/img/default-avatar.png" width="55px", height="55px"> -->
                        </div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="no-icon">Account</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/admin/account">Change password</a>
                                <div class="divider"></div>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Pending books</h1>
                    </div>
                </div>
                <hr/>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-10 border rounded">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3>ten book</h3>
                                <p>Short description here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, assumenda! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, ut.</p>
                            </div>
                            <div class="col-sm-3" style="padding-top: 15px">
                                <input type="submit" class="col-xs-12 btn btn-primary btn-lg"  value="Publish">
                                <input type="submit" class="col-xs-12 btn btn-warning btn-lg" value="Deny">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-10 border rounded">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3>ten book</h3>
                                <p>Short description here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, assumenda! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, ut.</p>
                            </div>
                            <div class="col-sm-3" style="padding-top: 15px">
                                <input type="submit" class="col-xs-12 btn btn-primary btn-lg"  value="Publish">
                                <input type="submit" class="col-xs-12 btn btn-warning btn-lg" value="Deny">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-10 border rounded">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3>ten book</h3>
                                <p>Short description here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, assumenda! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, ut.</p>
                            </div>
                            <div class="col-sm-3" style="padding-top: 15px">
                                <input type="submit" class="col-xs-12 btn btn-primary btn-lg"  value="Publish">
                                <input type="submit" class="col-xs-12 btn btn-warning btn-lg" value="Deny">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>




</body>
<script src="../../public/assets/js/core/bootstrap.min.js"></script>
<script src="../../public/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="../../public/assets/js/light-bootstrap-dashboard.js"></script>
<script src="../../public/assets/js/core/popper.min.js"></script>

</html>
