<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>Em c&oacute; suy nghĩ lớn hơn chị tưởng. Những ng&agrave;y đầu mới quen nhau, chị ngại ng&ugrave;ng nhưng cảm thấy rất ấm &aacute;p v&agrave; hạnh ph&uacute;c.</p>

<p>Chị v&agrave; em c&ugrave;ng đam m&ecirc; nhảy. Cả hai quen nhau trong một CLB Dance Cover. Em c&aacute; t&iacute;nh, bụi bặm, lại người lớn hơn so với tuổi, chị lập tức &quot;đổ&quot; em ngay v&agrave; lu&ocirc;n. Mỗi lần nhảy b&agrave;i c&oacute; cặp, l&agrave; chị cứ nh&eacute;o em m&agrave; n&oacute;i &quot;Chị cặp với em nha!&quot; v&agrave; em gật đầu c&aacute;i rụp. M&atilde;i sau n&agrave;y khi quen nhau rồi, em mới chịu n&oacute;i, v&igrave; thấy chị cứ đ&ograve;i bắt cặp nhiều n&ecirc;n từ l&uacute;c đ&oacute; đ&atilde; bắt đầu để &yacute; đến chị.</p>

<p><img alt="yeu-nguoi-kem-tuoi" src="http://www.truyenngan.com.vn/images/Phuongvtm/2018-03/yeu-nguoi-kem-tuoi.jpg" style="height:540px; width:540px" /></p>

<p>S&aacute;ng n&agrave;o em cũng m&ograve; l&ecirc;n tận lớp chị chỉ để đưa đồ ăn s&aacute;ng. Thời gian đầu tụi bạn lớp chị kh&ocirc;ng để &yacute;, nhưng sau đ&oacute; tụi n&oacute; bắt đầu tr&ecirc;u chọc. Một s&aacute;ng nọ, em lại l&ecirc;n lớp chị như mọi h&ocirc;m để đưa b&aacute;nh m&igrave;, tụi con trai lớp chị lại nhao l&ecirc;n khi thấy em. Chị vội v&agrave;ng chạy ra đẩy em ra xa n&oacute;i em rằng từ nay kh&ocirc;ng cần mang đồ ăn s&aacute;ng l&ecirc;n cho chị nữa. Chị kh&ocirc;ng muốn em bị mọi người tr&ecirc;u chọc. Nhưng em chỉ đ&aacute;p lại với chị rằng: &quot;Em kh&ocirc;ng th&iacute;ch bạn g&aacute;i m&igrave;nh nhịn ăn s&aacute;ng đ&acirc;u!&quot;. C&aacute;i em suy nghĩ trong đầu vẫn l&agrave; chị. Cảm gi&aacute;c ấm &aacute;p m&agrave; hạnh ph&uacute;c kh&oacute; tả.</p>

<p>&nbsp;</p>

<p>Chị lớn tuổi hơn, nhưng lại hay giận dỗi như con n&iacute;t vậy đ&oacute;. Một lần cả hai đi xem phim. T&igrave;nh cờ c&ocirc; bạn em đang đi l&agrave;m th&ecirc;m ở rạp. Nh&igrave;n thấy em, c&ocirc; bạn cười t&iacute;t rồi lao v&agrave;o tr&ograve; chuyện qu&ecirc;n mất đi sự hiện diện của chị. Cả em cũng như nhảy v&agrave;o thế giới ri&ecirc;ng đ&oacute;. Chị thấy kh&oacute; chịu kh&ocirc;ng thể tả. Chị v&ugrave;ng vằng bỏ v&egrave;. Em vội v&atilde; chạy theo. Chị kh&oacute;c th&uacute;t th&iacute;t. Em dẫn về nh&agrave;, mua kem cho chị. L&uacute;c đưa chị về đến cổng. Em bẹo m&aacute; chị hỏi đ&atilde; hết giận chưa. Chị ng&uacute;ng nguẩy tỏ &yacute; kh&ocirc;ng nghe lời. Em cười lớn: &quot;Th&ocirc;i đừng giận nữa nh&eacute;! Được kh&ocirc;ng? Được kh&ocirc;ng em?&quot;... Chỉ nghe vậy th&ocirc;i, c&oacute; muốn giận cũng kh&ocirc;ng thể n&agrave;o giận th&ecirc;m được. Chị gục gặc gật đầu.</p>

<p>Em c&oacute; ngoại h&igrave;nh đẹp trai, s&aacute;ng sủa, chơi b&oacute;ng giỏi, nhảy giỏi, khối bạn nữ chết m&ecirc; e. Nhưng chị lại kh&ocirc;ng đồng &yacute; chuyện c&ocirc;ng khai, n&ecirc;n kh&ocirc;ng ai biết em đ&atilde; c&oacute; bạn g&aacute;i. Một ng&agrave;y nọ tr&ecirc;n Confession của trường c&oacute; up 1 lời tỏ t&igrave;nh của c&ocirc; bạn c&ugrave;ng khối với em. Mọi người trong trường share ch&oacute;ng mặt. Đọc được m&agrave; tim chị run li&ecirc;n hồi. Vội v&atilde; t&igrave;m đủ c&aacute;ch xem người đ&oacute; l&agrave; ai. V&agrave; v&ocirc; vọng. Thời gian sau đ&oacute; chị b&ugrave; đầu v&agrave;o đội tuyển, m&ocirc; h&igrave;nh, kh&ocirc;ng theo lớp nhảy nữa. Nhưng điều chị thấy lo lắng bất an, l&agrave; em cũng kh&ocirc;ng c&ograve;n ồn &agrave;o, vội v&atilde; với chị như trước. Em kh&ocirc;ng c&ograve;n mỗi ng&agrave;y nhắn tin, gọi điện cho chị hỏi xem chị đang ở đ&acirc;u, l&agrave;m g&igrave;. Mỗi tối em chỉ n&oacute;i mệt rồi ch&uacute;c chị đi ngủ sớm, kh&ocirc;ng c&ograve;n lắng nghe những c&acirc;u chuyện hằng ng&agrave;y của chị nữa. Em kh&ocirc;ng c&ograve;n qua lớp chị mỗi ng&agrave;y chỉ để nh&igrave;n thấy chị... Trong khoảng thời gian đ&oacute; th&ocirc;i, chị đ&atilde; nghĩ điều g&igrave; đẩy ch&uacute;ng ta trở nen xa c&aacute;ch như thế?</p>

<p>Cả tuần chẳng gặp mặt nhau lấy một lần, tối n&agrave;o cũng chỉ nhắn v&agrave;i tin hỏi thăm rồi đi ngủ lu&ocirc;n... Chị kh&ocirc;ng biết liệu chị đ&atilde; l&agrave;m sai chuyện g&igrave;, nhưng chị cảm nhận được c&oacute; g&igrave; đ&oacute; đang thay đổi. Một buổi tối, trước khi đi ngủ, chị nhắn tin cho em: &quot;Chị nhớ em!&quot;. Em chỉ trả lời ngắn gọn: &quot;Thức khuya qu&aacute;! Đi ngỉ đi!&quot;. Tim chị hụt hẫng... Sao vậy em? Trong thời gian c&aacute;i g&igrave; đ&atilde; đẩy ch&uacute;ng ta xa nhau vậy?</p>

<p>C&ocirc; bạn chị n&oacute;i rằng ở lớp tập nhảy c&oacute; một th&agrave;nh vi&ecirc;n mới, v&agrave; đ&oacute; ch&iacute;nh l&agrave; người đ&atilde; viết confession cho em. Khi c&ocirc; bạn ấy n&oacute;i ra chuyện n&agrave;y, em v&agrave; cả nh&oacute;m đ&atilde; rất ngạc nhi&ecirc;n v&agrave; th&iacute;ch th&uacute;. Những buổi tập nhảy training th&agrave;nh vi&ecirc;n mới, cả nh&oacute;m đẩy cặp cho hai đứa với nhau. Thời gian v&agrave; khoảng c&aacute;ch trở n&ecirc;n gần nhau hơn. Chị chỉ biết như vậy th&ocirc;i, m&agrave; tim chị đ&atilde; thắt lại rồi. Trong khi tan trường chị vội v&atilde; phi xe ngay qua nh&agrave; C&ocirc; học đội tuyển, th&igrave; em đang c&ugrave;ng c&ocirc; bạn đ&oacute; ở lớp tập nhảy cười n&oacute;i với nhau. L&uacute;c đ&oacute; chị đ&atilde; nghĩ, c&oacute; lẽ khoảng c&aacute;ch giữa ch&uacute;ng ta đ&atilde; đủ lớn cho người thứ 3 xen v&agrave;o rồi. B&acirc;y giờ chỉ c&ograve;n đợi lời n&oacute;i dừng lại của em nữa m&agrave; th&ocirc;i.</p>

<p>S&aacute;ng h&ocirc;m đ&oacute;, chị cố t&igrave;nh đi qua lớp em để xuống thư viện. Ngay khi tới cửa lớp, đập ngay v&agrave;o mắt chị l&agrave; cảnh c&ocirc; bạn đ&oacute; đang với tay lau bảng, em đứng s&aacute;t ngay sau lưng với tay l&ecirc;n cao hơn d&ugrave;ng phấn vẽ những n&eacute;t vẽ nguệch ngoạc tr&ecirc;u chọc. C&ocirc; bạn ngay lập tức quay lại v&agrave; đụng ngay v&ugrave;ng ngực mạnh mẽ của em. Chị biết m&agrave;, ngay l&uacute;c đ&oacute; tim c&ocirc; bạn đ&oacute; đ&atilde; rớt một nhịp rồi. Chị bỏ đi thật nhanh, cố k&igrave;m n&eacute;n m&agrave; nước mắt cứ chảy. Chị tắt hết điện thoại, lock Facebook, Zalo. Tập trung hết tất cả để &ocirc;n thi đội tuyển. Qu&ecirc;n đi những tổn thương đang xảy ra. Chị đ&atilde; nghĩ sẵn rằng, c&oacute; lẽ em đ&atilde; muốn dừng lại, nhưng lo sợ kết quả thi của chị, n&ecirc;n muốn đợi chị thi xong mới n&oacute;i, vậy th&igrave; ngay sau khi thi xong, chị sẽ n&oacute;i dừng lại. Nh&eacute; em?!</p>

<p>Những lần đạp xe vội v&atilde; di chuyển giữa c&aacute;c buổi học, chị lại v&ocirc; t&igrave;nh thấy em chở bạn ấy c&ugrave;ng đến c&ocirc;ng vi&ecirc;n. Những lần đi xuống thư viện đổi s&aacute;ch, ngang qua lớp lại v&ocirc; t&igrave;nh thấy em v&agrave; bạn ấy ch&uacute;i đầu v&agrave;o nhau trao đổi b&agrave;i, hoặc c&ugrave;ng nhau đ&ugrave;a nghịch. Ở trong đ&acirc;u đ&oacute; tr&aacute;i tim chị, một sự tổn thương lớn hơn chị nghĩ.</p>

<p>Sau khi thi xong, tr&uacute;t đi g&aacute;nh nặng b&agrave;i vở, chị chợt nghĩ rằng, đ&atilde; đến l&uacute;c mọi chuyện cần giải quyết. Chị ngồi trong lớp thẫn thờ nh&igrave;n ra cửa sổ th&igrave; em đ&atilde; tới cửa lớp vẫy chị. Chị mệt mỏi đứng dậy ra ngo&agrave;i. Em th&igrave; th&agrave;o: &quot;Tối nay chị đến Cafe Enuly nh&eacute;! Em c&oacute; chuyện cần n&oacute;i! Nha! Nha!&quot; L&uacute;c đ&oacute; chị đ&atilde; nghĩ rằng, cuối c&ugrave;ng ng&agrave;y h&ocirc;m nay cũng đ&atilde; đến. Chị c&ograve;n chuẩn bị t&acirc;m l&yacute; sẵn, tuyệt đối kh&ocirc;ng được kh&oacute;c, phải mạnh mẽ l&ecirc;n!</p>

<p>Chị tới t&igrave;m em. Qua 5 ph&uacute;t, qua 10 ph&uacute;t, chị nghĩ rằng en đến muộn. Bất chợt chị nh&acirc;n vi&ecirc;n phục vụ gọi lớn t&ecirc;n chị, chị ngẩng mặt nh&igrave;n l&ecirc;n. Nhạc của qu&aacute;n đột nhi&ecirc;n ngừng ph&aacute;t b&agrave;i Bolero, chuyển đổi ngay lập tức sang b&agrave;i &quot;I need a girl&quot;. Em v&agrave; c&ocirc; bạn ấy c&ugrave;ng c&aacute;c bạn trong đội nhảy chia th&agrave;nh 3 cặp nhảy theo nền nhạc. Chị c&ograve;n chưa hết ngạc nhi&ecirc;n th&igrave; em tiến lại ph&iacute;a chị, kết th&uacute;c b&agrave;i nhảy bằng nụ h&ocirc;n v&agrave;o m&aacute; phải của chị. L&uacute;c đ&oacute; chị chỉ muốn bay ngay về h&agrave;nh tinh của m&igrave;nh th&ocirc;i. &quot;Chuyện g&igrave; đ&acirc;y? Chuyện g&igrave; đ&acirc;y? Chuyện g&igrave; đ&acirc;y? Chuyện g&igrave; đ&acirc;y? OMG!!! Chuyện g&igrave; đ&acirc;y? Chuyện g&igrave; đ&acirc;y?&quot; Trong đ&agrave;u chị cứ lặp đi lặp lại c&acirc;u hỏi đ&oacute;. Chị cứ thấy &quot;m&ocirc;ng lung như một tr&ograve; đ&ugrave;a&quot;, c&ograve;n em th&igrave; đ&atilde; c&ocirc;ng khai với bạn b&egrave; khi đ&oacute; rằng chị ch&iacute;nh l&agrave; bạn g&aacute;i em, v&agrave; đ&atilde; quen nhau được 8 th&aacute;ng rồi.</p>

<p>Chị tối h&ocirc;m đ&oacute; cứ kh&oacute;c m&atilde;i từ l&uacute;c đ&oacute; cho tới l&uacute;c em chở về nh&agrave;. Về đến cổng nh&agrave;, chị vẫn c&ograve;n th&uacute;t th&iacute;t. Em th&igrave; cứ nhăn răng ra cười. Cuối c&ugrave;ng vẫn chịu h&ocirc;n tạm biệt chị rồi về.</p>

<p>&quot;Nghe n&egrave;. N&oacute;i 1 lần th&ocirc;i đấy!&quot;</p>

<p>&quot;Ừ sao?&quot; - Chị th&uacute;t th&iacute;t.</p>

<p>&quot;Anh y&ecirc;u vợ! Y&ecirc;u nhiều lắm!&quot;</p>

<p>&quot;N&oacute;i g&igrave; nhỏ qu&aacute; chẳng nghe!&quot; - Chị vừa th&uacute;t th&iacute;t vừa tr&ecirc;u chọc.</p>

<p>&quot;Kh&ocirc;ng n&oacute;i nữa. Tự hiểu đi!&quot;.</p>

<p>Chị c&ograve;n đang định giả vờ giận dỗi nữa th&igrave; cảm gi&aacute;c đ&atilde; được em &ocirc;m trọn ...</p>


</body>
</html>
