<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p><img alt="Tấm Cám phiên bản hiện đại khiến người nghe &quot;điên đầu&quot;" src="http://sohanews.sohacdn.com/thumb_w/660/2016/13086654-624163687748494-1387295859260591657-o-1464709034784-259-884-798-1940-crop-1464709182283.jpg" style="width:660px" /></p>

<p><em>(Ảnh minh họa)</em></p>

<h2>Hẳn ai cũng quen thuộc với truyện cổ t&iacute;ch kinh điển n&agrave;y, nhưng sẽ ra sao nếu bạn nghe n&oacute; trong một phi&ecirc;n bản kh&aacute;c &quot;đ&aacute;ng sợ&quot; hơn?</h2>

<p>Nhận được gần 1 triệu lượt xem chỉ sau hơn 1 ng&agrave;y ra mắt, c&acirc;u chuyện về chuyện Tấm v&agrave; C&aacute;m nu&ocirc;i heo khiến d&acirc;n mạng vừa cười nghi&ecirc;n ngả, vừa m&eacute;o miệng v&igrave; qu&aacute;&hellip;bối rối.</p>

<p>Kh&ocirc;ng giống như những t&igrave;nh tiết gần gũi v&agrave; dễ hiểu như trong&nbsp;<a href="http://soha.vn/doc-lai-co-be-lo-lem-duoi-con-mat-duc-khoet-2016041810540899.htm" target="_blank">Tấm C&aacute;m&nbsp;</a>m&agrave; trước nay ch&uacute;ng ta vẫn từng nghe, từng xem, phi&ecirc;n bản Tấm C&aacute;m &quot;fake&quot; chỉ xoay quanh chuyện Tấm đi lấy chồng n&ecirc;n C&aacute;m bị mẹ giao cho c&ocirc;ng việc nu&ocirc;i heo. V&agrave; thế l&agrave; mọi bi h&agrave;i cũng từ đ&oacute; m&agrave; ra.</p>

<p>&nbsp;</p>

<p>Tấm C&aacute;m phi&ecirc;n bản hiện đại khiến người nghe &#39;đi&ecirc;n đầu&#39;</p>

<p>&nbsp;</p>

<p>V&igrave; đ&atilde; qua quen thuộc với c&aacute;m của Tấm n&ecirc;n đ&agrave;n heo nhất quyết kh&ocirc;ng th&egrave;m ăn c&aacute;m của C&aacute;m. V&agrave; d&ugrave; đ&atilde; d&ugrave;ng đủ mọi c&aacute;ch, sử dụng đủ tuyệt chi&ecirc;u đ&aacute;nh lừa đ&agrave;n heo nhưng dường như, trong phi&ecirc;n bản Tấm C&aacute;m n&agrave;y, đ&agrave;n heo qu&aacute; kh&ocirc;n so với quy định.&nbsp;</p>

<p>Ch&uacute;ng biết đ&aacute;nh hơi như ch&oacute; để ph&acirc;n biệt đ&acirc;u l&agrave; c&aacute;m của Tấm, đ&acirc;u l&agrave; c&aacute;m của C&aacute;m v&agrave;&hellip;thảnh thơi ngồi lựa ra. Chi tiết n&agrave;y cũng giống như đ&agrave;n chim sẻ lựa th&oacute;c v&agrave; gạo trong phi&ecirc;n bản &quot;xịn&quot; vậy.</p>

<p>Kh&ocirc;ng chỉ khiến người nghe th&iacute;ch th&uacute; với một c&acirc;u chuyện ho&agrave;n to&agrave;n kh&aacute;c lạ, cũng c&oacute; thể n&oacute;i l&agrave; chi tiết qu&aacute; sức đời thường xoay quanh chuyện nu&ocirc;i heo, đoạn video h&agrave;i hước n&agrave;y c&ograve;n khiến người nghe bối rối v&agrave; cho&aacute;ng v&aacute;ng v&igrave; qu&aacute; kh&oacute; theo d&otilde;i.&nbsp;</p>

<p>Giọng đọc nhanh như gi&oacute;, c&ugrave;ng với từ &quot;c&aacute;m&quot; xuất hiện với tần suất qu&aacute; d&agrave;y đặc, c&oacute; thể n&oacute;i, phi&ecirc;n bản &quot;đục kho&eacute;t t&acirc;m hồn&quot; n&agrave;y kh&ocirc;ng dễ nuốt một ch&uacute;t n&agrave;o.</p>

<p>Nếu nghe kỹ, bạn sẽ c&oacute; một nội dung c&acirc;u chuyện đầy đủ như sau:&nbsp;<em>&quot;Từ ng&agrave;y c&ocirc; Tấm lấy được ho&agrave;ng tử, con C&aacute;m hận c&ocirc; Tấm lắm.&nbsp;</em></p>

<p><em>Mẹ C&aacute;m bắt con C&aacute;m thay c&ocirc; Tấm đi mua c&aacute;m cho heo ăn. Bầy heo của mẹ con C&aacute;m đ&atilde; quen ăn c&aacute;m của c&ocirc; Tấm n&ecirc;n thấy c&aacute;m của con C&aacute;m bầy heo nhớ c&aacute;m của c&ocirc; Tấm.&nbsp;</em></p>

<p><em>C&ocirc; Tấm hay tin bầy heo của mẹ con C&aacute;m kh&ocirc;ng ăn c&aacute;m của con C&aacute;m, n&ecirc;n c&ocirc; Tấm gửi c&aacute;m của c&ocirc; Tấm về cho con C&aacute;m. Con C&aacute;m tức tối v&igrave; bầy heo của mẹ con C&aacute;m, kh&ocirc;ng ăn c&aacute;m của con C&aacute;m m&agrave; ăn c&aacute;m của c&ocirc; Tấm.&nbsp;</em></p>

<p><em>Con C&aacute;m t&igrave;m c&aacute;ch trộn c&aacute;m của con C&aacute;m với c&aacute;m của c&ocirc; Tấm, rồi cho bầy heo của mẹ con C&aacute;m ăn c&aacute;m của con C&aacute;m trộn với c&aacute;m của c&ocirc; Tấm.&nbsp;</em></p>

<p><em>Bầy heo của mẹ con C&aacute;m ngửi thấy m&ugrave;i c&aacute;m của Con C&aacute;m trong c&aacute;m của c&ocirc; Tấm b&egrave;n ngồi lựa ra c&aacute;m của con C&aacute;m ra c&aacute;m của con C&aacute;m, c&aacute;m của c&ocirc; Tấm ra c&aacute;m của c&ocirc; Tấm.&nbsp;</em></p>

<p><em>Sau khi lựa c&aacute;m của con C&aacute;m ra c&aacute;m của con C&aacute;m, c&aacute;m của c&ocirc; Tấm ra c&aacute;m của c&ocirc; Tấm, bầy heo ăn sạch c&aacute;m của c&ocirc; Tấm bỏ c&aacute;m của con C&aacute;m.&nbsp;</em></p>

<p><em>Con C&aacute;m tức tối, m&eacute;c mẹ của con C&aacute;m chuyện bầy heo của mẹ con C&aacute;m kh&ocirc;ng chịu ăn c&aacute;m của Con C&aacute;m m&agrave; chỉ ăn c&aacute;m của c&ocirc; Tấm.&nbsp;</em></p>

<p><em>Mẹ con C&aacute;m ra kế dụ c&ocirc; Tấm về nh&agrave; con C&aacute;m cho bầy heo của mẹ con C&aacute;m ăn c&aacute;m của con C&aacute;m. Con C&aacute;m nghĩ chỉ c&oacute; c&ocirc; Tấm mới c&oacute; thể cho bầy heo của mẹ con C&aacute;m ăn c&aacute;m của con C&aacute;m n&ecirc;n chạy đi k&ecirc;u c&ocirc; Tấm.&nbsp;</em></p>

<p><em>Bầy heo của mẹ con C&aacute;m thấy c&ocirc; Tấm cho m&igrave;nh ăn c&aacute;m của con C&aacute;m th&igrave; giận lu&ocirc;n c&ocirc; Tấm. Ch&uacute;ng quyết định kh&ocirc;ng ăn c&aacute;m của con C&aacute;m lẫn c&aacute;m của c&ocirc; Tấm.</em></p>

<p><em>Chuyện con C&aacute;m. Con C&aacute;m n&oacute; giết sạch bầy heo rồi. Sống l&agrave;m heo tr&ecirc;n đời th&igrave; người ta cho c&aacute;i g&igrave; ăn c&aacute;i đ&oacute;, đừng c&oacute; chảnh ch&oacute; như bầy heo nha.&quot;</em></p>

<p>Theo chia sẻ của Việt Cupid &ndash; người thực hiện c&acirc;u chuyện Tấm C&aacute;m &quot;fake&quot; th&igrave; &yacute; tưởng về đoạn video n&agrave;y xuất ph&aacute;t từ việc anh muốn&hellip;kể chuyện nhảm để giải tr&iacute;.&nbsp;</p>

<p>Thấy mọi người quan t&acirc;m về những c&acirc;u chuyện hại n&atilde;o nhiều n&ecirc;n Việt quyết định thực hiện thể loại n&agrave;y.</p>

<p>Theo Việt, c&aacute;i kh&oacute; của dạng chuyện hại n&atilde;o n&agrave;y l&agrave; phải đọc rất nhanh nhưng đồng thời phải trơn tru, kh&ocirc;ng mắc một sai lầm đọc n&agrave;o.&nbsp;</p>

<p><em>&quot;Hầu như l&agrave; miệng v&agrave; n&atilde;o phải chạy hết c&ocirc;ng suất, đọc hết được trơn tru l&agrave; m&igrave;nh muốn r&atilde; cả người. Ngo&agrave;i ra phải c&oacute; yếu tố h&agrave;i hước nữa&quot;.</em></p>

<p>D&ugrave; khiến người nghe &quot;ph&aacute;t đi&ecirc;n&quot; v&igrave; c&acirc;u chuyện, thế nhưng đoạn clip n&agrave;y vẫn rất h&uacute;t sự quan t&acirc;m, theo d&otilde;i của số đ&ocirc;ng.</p>


</body>
</html>
