<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p><strong><em>Kẻ S&aacute;t Nh&acirc;n Thứ Ba</em></strong>&nbsp;l&agrave; t&aacute;c phẩm thứ 12 của đạo diễn nổi tiếng&nbsp;<a href="http://kenh14.vn/phim-nhat-ban.html" target="_blank">Nhật Bản</a>&nbsp;Hirokazu Koreeda. Koreeda vốn được biết đến với những tựa phim mang t&iacute;nh chất nhẹ nh&agrave;ng, h&agrave;i hước ẩn chứa sự tinh tế đậm chất nghệ thuật, v&igrave; vậy Kẻ S&aacute;t Nh&acirc;n Thứ Ba c&oacute; thể xem l&agrave; một sự thử nghiệm mới, kh&aacute;c lạ hứa hẹn sẽ tạo n&ecirc;n những đột ph&aacute; trong phong c&aacute;ch l&agrave;m phim của &ocirc;ng.</p>


</body>
</html>
