<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>Ng&agrave;y trước ở tr&ecirc;n cung đ&igrave;nh của nh&agrave; trời c&oacute; người đ&agrave;n b&agrave; rất kh&eacute;o tay, b&agrave; nấu ăn rất ngon. Những thứ b&aacute;nh tr&aacute;i m&agrave; b&agrave; chế ra đều l&agrave; tuyệt phẩm cả, chỉ cần nếm qua những m&oacute;n ăn ấy l&agrave; lại kh&ocirc;ng c&aacute;ch n&agrave;o qu&ecirc;n được hương vị của n&oacute;. V&igrave; thế b&agrave; được Ngọc Ho&agrave;ng thượng đế giao cho tr&aacute;ch nhiệm tr&ocirc;ng nom to&agrave;n bộ chuyện nấu nướng ở thi&ecirc;n tr&ugrave;.</p>

<p>Tuy nhi&ecirc;n th&igrave; b&agrave; lại c&oacute; tật ăn vụng, cũng rất tham lam nữa. Lệ của nh&agrave; trời đ&atilde; quy định rất r&otilde; r&agrave;ng, người hầu kẻ hạ c&oacute; thức ăn ri&ecirc;ng, kh&ocirc;ng bao giờ được ph&eacute;p đụng chạm t&iacute; g&igrave; tới ngự thiện, kể cả đ&oacute; l&agrave; đồ m&agrave; Ngọc Ho&agrave;ng bỏ thừa. Nhưng m&agrave; những luật lệ ấy cũng kh&ocirc;ng thể n&agrave;o m&agrave; ngăn cản được những người th&egrave;m kh&aacute;t v&agrave; đ&atilde; nổi l&ograve;ng tham. V&igrave; thế người đ&agrave;n b&agrave; kia vẫn lu&ocirc;n t&igrave;m mọi c&aacute;ch l&agrave;m kho thức ăn nh&agrave; trời dần hao hụt.</p>

<p><img alt="Sự tích cây chổi" src="http://doctruyencotich.com/wp-content/uploads/2016/06/su-tich-cay-choi.jpg" style="height:300px; width:450px" /></p>

<h2>Truyện cổ t&iacute;ch việt nam: Sự t&iacute;ch c&acirc;y chổi</h2>

<p>B&agrave; ta tuy tuổi cũng đ&atilde; qu&aacute; xu&acirc;n rồi nhưng lại rất y&ecirc;u l&atilde;o chăn ngựa của thi&ecirc;n đ&igrave;nh. M&agrave; đời sống thường ng&agrave;y của đ&aacute;m người chăn ngựa ở c&otilde;i trời chẳng kh&aacute;c chi dưới c&otilde;i đất cả, đều rất cực khổ v&agrave; kh&oacute; khăn. M&agrave; người đ&agrave;n &ocirc;ng ấy lại rất th&iacute;ch rượu, kể từ khi &ocirc;ng ta gặp được người đ&agrave;n b&agrave; kia th&igrave; lại th&ecirc;m th&oacute;i th&egrave;m đồ ăn ngon.</p>

<p>Người đ&agrave;n b&agrave; say m&ecirc; l&atilde;o chăn ngựa tưởng chừng như chẳng c&ograve;n g&igrave; hơn cả. Mỗi khi m&agrave; thấy &ocirc;ng ta th&egrave;m đồ ăn hay đồ uống nh&agrave; trời th&igrave; b&agrave; ta chẳng ngần ngại điều g&igrave;. Đ&atilde; kh&ocirc;ng biết bao nhi&ecirc;u lần b&agrave; đ&aacute;nh cắp thịt rượu ở thi&ecirc;n tr&ugrave; để giấu mang cho &ocirc;ng ta ăn. Cũng c&oacute; kh&ocirc;ng &iacute;t lần b&agrave; đem &ocirc;ng ta tới kho rượu nh&agrave; trời để mặc cho &ocirc;ng uống say b&iacute; tỉ.</p>

<p>V&agrave;o một ng&agrave;y kia, h&ocirc;m ấy Ngọc Ho&agrave;ng mở tiệc lớn để chi&ecirc;u đ&atilde;i quần thần tr&ecirc;n thi&ecirc;n đ&igrave;nh. B&agrave; c&ugrave;ng với c&aacute;c bạn c&ugrave;ng nấu bếp với m&igrave;nh phải l&agrave;m việc tất bật. Bởi v&igrave; chỉ chập tối l&agrave; tất cả m&oacute;n ăn đều phải được chuẩn bị đầy đủ rồi. Để cho khi &aacute;nh nguyệt đ&ecirc;m rằm chiếu s&aacute;ng th&igrave; mọi người c&oacute; thể bắt đầu nhập tiệc.</p>

<p>Tuy nhi&ecirc;n, v&agrave;o giữa l&uacute;c m&agrave; cỗ đang được dọn l&ecirc;n m&acirc;m, ở đằng xa kia b&agrave; lại nghe được tiếng của l&atilde;o chăn ngựa đang h&aacute;t. Biết l&agrave; &ocirc;ng đến t&igrave;m m&igrave;nh n&ecirc;n b&agrave; lại lật đật chạy ra đ&oacute;n, sau đ&oacute; b&agrave; đưa &ocirc;ng giấu v&agrave;o trong một g&oacute;c chạn. B&agrave; ta đem đến mấy ch&eacute;n rượu cho &ocirc;ng ta, đ&oacute; l&agrave; thứ rượu ngon nhất thi&ecirc;n t&agrave;o, sau đ&oacute; lại phải đi ra để l&agrave;m cho xong mẻ b&aacute;nh hạnh nh&acirc;n đang l&agrave;m dở.</p>

<p>Bởi v&igrave; l&atilde;o chăn ngựa vừa cho đ&agrave;n ngựa đến bến s&ocirc;ng tắm về. Khi bưng b&aacute;t cơm hẩm của m&igrave;nh th&igrave; &ocirc;ng ta lại sực nhớ tới những thứ rượu thịt giờ đang &ecirc; chề trong thi&ecirc;n tr&ugrave;, v&igrave; thế n&ecirc;n mới vội v&atilde; lần m&ograve; đến. Ở trong g&oacute;c chạn tối tăm, &ocirc;ng uống ừng ực liền mấy ch&eacute;n rượu v&agrave; lấy l&agrave;m khoan kho&aacute;i lắm. Những ch&eacute;n rượu n&agrave;y quả l&agrave; tuyệt hảo, hơi men thấm v&agrave;o khiến &ocirc;ng ta cho&aacute;ng v&aacute;ng. Đột nhi&ecirc;n &ocirc;ng ta lại th&egrave;m thứ g&igrave; để m&agrave; đưa cay. M&agrave; tr&ecirc;n gi&aacute; m&acirc;m để ngay gần đ&oacute;, những thứ mỹ vị cứ đưa hương thơm phức tới chỗ &ocirc;ng. Đang cơn đ&oacute;i, lại trong b&oacute;ng tối, &ocirc;ng ta liền lật lồng b&agrave;n l&ecirc;n rồi bốc lấy bốc để, chẳng ki&ecirc;ng d&egrave; g&igrave; nữa.</p>

<p>Đến khi l&iacute;nh hầu đem những m&acirc;m ngự thiện ấy tr&igrave;nh l&ecirc;n b&agrave;n tiệc th&igrave; m&oacute;n n&agrave;o đều như c&oacute; người đ&atilde; nếm qua từ trước vậy. Ngọc Ho&agrave;ng tr&ocirc;ng thấy th&igrave; nổi cơn thịnh nộ, v&agrave; tiếng qu&aacute;t mắng của Người khiến cho tất cả đều hết sức sợ h&atilde;i. Sự giận dữ của Ngọc Ho&agrave;ng đ&atilde; khiến cho bữa tiệc đang vui vẻ cũng phải ảm đạm. Kh&ocirc;ng c&ograve;n c&aacute;ch n&agrave;o kh&aacute;c, người đ&agrave;n b&agrave; nấu bếp đ&agrave;nh phải c&uacute;i đầu m&agrave; nhận tội.</p>

<p>V&igrave; đ&acirc;y l&agrave; tội nặng nhất tr&ecirc;n thi&ecirc;n đ&igrave;nh n&ecirc;n cả hai người bị Ngọc Ho&agrave;ng thượng đế đ&agrave;y xuống nơi trần gian l&agrave;m những chiếc chổi qu&eacute;t nh&agrave;, cả năm phải l&agrave;m việc kh&ocirc;ng nghỉ tay, c&ograve;n phải t&igrave;m thức ăn ở trong đống r&aacute;c rưởi v&ocirc; c&ugrave;ng dơ bẩn ở nơi trần gian kia.</p>

<p>Một thời gian rất l&acirc;u sau đ&oacute;, v&igrave; thấy phạm nh&acirc;n k&ecirc;u than rằng suốt năm suốt th&aacute;ng đều phải l&agrave;m khổ sai kh&ocirc;ng ngơi kh&ocirc;ng nghỉ. Ngọc Ho&agrave;ng thượng đế v&igrave; thương t&igrave;nh n&ecirc;n cho ph&eacute;p bọn họ được nghỉ ngơi ba ng&agrave;y trong một năm. M&agrave; ba ng&agrave;y ấy ch&iacute;nh l&agrave; ba ng&agrave;y diễn ra Tết Nguy&ecirc;n đ&aacute;n, bởi vậy n&ecirc;n con người mới c&oacute; tục lệ l&agrave; ki&ecirc;ng qu&eacute;t nh&agrave; qu&eacute;t cửa trong ng&agrave;y Tết.</p>

<p>Hơn nữa trong d&acirc;n gian c&ograve;n c&oacute; c&acirc;u đố như sau: &ldquo;Trong nh&agrave; c&oacute; b&agrave; hay la liếm&rdquo;, ch&iacute;nh l&agrave; m&ocirc; tả về thần t&igrave;nh v&agrave; động t&aacute;c khi d&ugrave;ng chổi qu&eacute;t nh&agrave;, tuy nhi&ecirc;n th&igrave; trong đ&oacute; cũng c&oacute; ngụ &yacute; nhắc lại sự t&iacute;ch về c&aacute;i chổi.</p>


</body>
</html>
