<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>N&oacute; chả phải l&agrave; sự hối lỗi đ&acirc;u n&oacute; chỉ l&agrave; h&agrave;nh động qua loa cho xong chuyện chứng tỏ kẻ n&oacute;i ra kh&ocirc;ng c&oacute; g&igrave; kh&aacute;c ngo&agrave;i bản t&iacute;nh v&ocirc; tr&aacute;ch nhiệm , ch&aacute;n lời xin lỗi rồi th&igrave; sẽ to tiếng c&atilde;i lại l&agrave; : &#39;&#39;Sao c&ocirc; nhiều chuyện thế &#39;&#39; ? Việc l&agrave;m tổn thương người kh&aacute;c c&oacute; lẽ dễ d&agrave;ng qu&aacute; nhỉ ? Thực chất chả bao giờ sửa sai chỉ Xin lỗi , xin lỗi , xin lỗi , xin lỗi . Đừng mở mồm ra n&oacute;i khi bản th&acirc;n kh&ocirc;ng muốn h&atilde;y thay bằng 1 c&acirc;u : &#39;&#39;em kh&ocirc;ng th&iacute;ch đ&uacute;ng kh&ocirc;ng , th&ocirc;i n&agrave;o cho anh &ocirc;m mai &agrave; kh&ocirc;ng ngay b&acirc;y giờ anh sẽ thay đổi bởi em đ&uacute;ng hơn tất cả</p>


</body>
</html>
