<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>Anh biết kh&ocirc;ng anh? T&igrave;nh cảm kh&ocirc;ng bao giờ l&agrave; tr&ograve; chơi đuổi bắt, người n&agrave;y trốn c&ograve;n người kia phải đi t&igrave;m. Tr&aacute;i tim người ta vốn mỏng manh, t&igrave;nh cảm như một người đứng tr&ecirc;n sợi d&acirc;y thăng bằng, họ c&oacute; thể quỵ ng&atilde; bất cứ l&uacute;c n&agrave;o.</p>

<p>Khi một người phải m&ograve; mẫm t&igrave;m hơi ấm qu&aacute; l&acirc;u, họ đ&atilde; kh&ocirc;ng c&ograve;n cảm thấy th&uacute; vị với những cuộc chơi m&agrave; họ lu&ocirc;n phải hụt hơi trong những lần đuổi bắt.</p>

<p>Anh c&oacute; thể cứ thản nhi&ecirc;n chạy trốn, t&igrave;m một nơi m&agrave; cất kỹ ch&ocirc;n s&acirc;u tr&aacute;i tim của m&igrave;nh m&agrave; b&igrave;nh thản chờ đợi t&igrave;nh cảm đến. Nhưng người đi t&igrave;m đ&atilde; bỏ cuộc từ l&acirc;u. Rốt cuộc th&igrave;, ai sẽ l&agrave; người phải chờ đợi ai đ&acirc;y? Anh đợi người đến, người đợi anh ngoảnh lại, nhưng tr&ecirc;n con đường ấy, người ta đ&atilde; đ&aacute;nh mất nhau tự khi n&agrave;o rồi.</p>

<p><img alt="anh có biết không" src="http://www.truyenngan.com.vn/images/Phuongvtm/2012.11/anh-co-biet.jpg" style="height:692px; width:500px" /></p>

<p>Anh c&oacute; biết điều g&igrave; l&agrave; đ&aacute;ng sợ nhất trong t&igrave;nh y&ecirc;u kh&ocirc;ng? Ch&iacute;nh l&agrave; phải mang hết niềm tin, dốc cạn tấm ch&acirc;n t&igrave;nh v&agrave; ngay cả khi tuyệt vọng nhất cũng phải tự vỗ về m&igrave;nh - can đảm để chờ đợi một người trong v&ocirc; vọng. Sự chờ đợi một tr&aacute;i tim cứ m&atilde;i ngoảnh mặt, cứ m&atilde;i l&agrave;m thinh chẳng biết đến khi n&agrave;o, chưa bao giờ l&agrave; một ph&eacute;p thử hay gia vị n&ecirc;m nếm cho t&igrave;nh y&ecirc;u th&ecirc;m bền chặt.</p>

<p>Ở đời, chuyện nực cười nhất ch&iacute;nh l&agrave; khi y&ecirc;u, hầu hết phụ nữ đều hiến d&acirc;ng tất cả, c&ograve;n đ&agrave;n &ocirc;ng th&igrave; lại lu&ocirc;n biết giữ ri&ecirc;ng cho m&igrave;nh. V&agrave; anh &agrave;, anh c&oacute; quyền giữ lại cho ri&ecirc;ng m&igrave;nh, nhưng c&oacute; bao giờ anh quay đầu nh&igrave;n về ph&iacute;a sau chỉ một lần để thấy người nguyện đứng m&atilde;i một chỗ chờ anh đ&atilde; chết dần trong m&ograve;n mỏi hư hao? Để thấy rằng, một bước ch&acirc;n đến v&agrave; đi trong đời nhau, đ&ocirc;i khi cũng chỉ cần một khoảnh khắc, khi đ&atilde; bỏ qua rồi, những kẻ đ&atilde; từng nắm tay hẹn ước sẽ bất chợt lạc bước v&agrave; biến mất trong biển người m&ecirc;nh m&ocirc;ng...</p>

<p>V&agrave; một ng&agrave;y n&agrave;o đ&oacute; trong th&agrave;nh phố n&agrave;y, những người c&oacute; t&igrave;nh vẫn lướt qua nhau như người dưng.</p>

<p>Gặp gỡ v&agrave; y&ecirc;u nhau l&agrave; c&oacute; thể do duy&ecirc;n số, nhưng tiếp tục hay từ bỏ lại l&agrave; do chọn lựa của mỗi người. C&oacute; con đường n&agrave;o cho người ở lại v&agrave; ra đi, kh&ocirc;ng bao giờ l&agrave; lỗi của duy&ecirc;n số kh&ocirc;ng anh?</p>


</body>
</html>
