<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>Ng&agrave;y 27/4, Tổng b&iacute; thư Nguyễn Ph&uacute; Trọng chủ tr&igrave; cuộc họp Thường trực Ban chỉ đạo Trung ương về ph&ograve;ng, chống tham nhũng nhằm cho &yacute; kiến về tiến độ, định hướng xử l&yacute; một số vụ &aacute;n, vụ tham nhũng thuộc diện Ban chỉ đạo theo d&otilde;i từ sau phi&ecirc;n họp 13 đến nay.</p>

<p>Kết luận cuộc họp, Tổng b&iacute; thư Nguyễn Ph&uacute; Trọng, Trưởng ban chỉ đạo cho rằng, việc c&ocirc;ng khai kết luận thanh tra dự &aacute;n Tổng c&ocirc;ng ty viễn th&ocirc;ng MobiFone mua 95% cổ phần của C&ocirc;ng ty CP nghe nh&igrave;n To&agrave;n Cầu (AVG) đ&atilde; khẳng định r&otilde; quyết t&acirc;m của Đảng, Nh&agrave; nước trong đấu tranh ph&ograve;ng, chống tham nhũng, n&oacute;i đi đ&ocirc;i với l&agrave;m, kh&ocirc;ng c&oacute; v&ugrave;ng cấm, kh&ocirc;ng c&oacute; ngoại lệ.</p>


</body>
</html>
