<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>Anh thấy m&igrave;nh phải c&oacute; tr&aacute;ch nhiệm, c&oacute; vinh dự ph&aacute;t biểu rằng trong lĩnh vực nấu ăn, em l&agrave; một nghệ sỹ thực sự. Khả năng cao nhất của nghệ sỹ l&agrave; s&aacute;ng tạo v&agrave; t&igrave;m t&ograve;i, m&agrave; em th&igrave; c&oacute; một sức s&aacute;ng tạo, pha trộn v&agrave; ngẫu hứng tới v&ocirc; bi&ecirc;n.<br />
<br />
Ngay buổi s&aacute;ng đầu ti&ecirc;n sau đ&ecirc;m t&acirc;n h&ocirc;n, anh được hiểu rằng ch&aacute;o v&agrave; cơm thực ra kh&ocirc;ng c&oacute; ranh giới.<br />
<br />
M&oacute;n, hay c&ograve;n gọi &quot;c&aacute;i em m&uacute;c ra từ nồi&quot; l&agrave; ch&aacute;o, cơm hay s&uacute;p đều được cả. N&oacute; đều c&oacute; độ hạt, độ nh&atilde;o v&agrave; độ d&iacute;nh giống như nhau.<br />
<br />
Để ăn với thứ dinh dưỡng &quot;lai tạo&quot; ấy, em đưa ra một đĩa thịt kho m&agrave; m&agrave;u sắc l&agrave;m cho đ&ecirc;m đen cũng phải ghen tỵ. N&oacute;i về c&aacute;ch th&aacute;i, đ&aacute; tảng cũng c&ograve;n ch&agrave;o thua, về độ cứng, gạch c&ograve;n k&eacute;m xa. V&agrave; đặc biệt l&agrave; độ mặn, cứ cắn một miếng thịt cần uống 2 l&iacute;t nước. M&oacute;n thịt kho đ&oacute; b&ugrave;ng nổ đến nỗi nếu bọn khủng bố mang được l&ecirc;n m&aacute;y bay, anh tin h&agrave;nh kh&aacute;ch sẽ l&acirc;m nguy.</p>

<p><img alt="Nhật kí của một thanh niên mới làm chồng" src="http://www.truyenngan.com.vn/images/Phuongvtm/2012.10/nhat-ki-thanh-nien-moi-lam-chong.jpg" style="height:400px; width:500px" /></p>

<p>Em th&acirc;n y&ecirc;u...<br />
<br />
Anh đ&atilde; biết trước l&agrave; khi chung sống với em, c&aacute;i nỗi ngạc nhi&ecirc;n sẽ k&eacute;o d&agrave;i v&ocirc; tận. Quả kh&ocirc;ng sai!<br />
<br />
Sau thịt, m&oacute;n canh của em cũng vượt l&ecirc;n ch&iacute;nh m&igrave;nh. Đấy l&agrave; lần đầu ti&ecirc;n trong đời anh ăn canh ruột c&aacute; nấu với nấm, với thịt băm, với rau muống. Đ&oacute; l&agrave; ba thứ anh nhận ra được, nhưng c&ograve;n ba mươi thứ kh&aacute;c c&oacute; h&igrave;nh thức v&agrave; hương vị b&iacute; ẩn đến nỗi anh vừa đưa l&ecirc;n mồm, vừa tự hỏi rằng đ&acirc;u l&agrave; giới hạn chịu đựng của con người v&agrave; đ&acirc;u l&agrave; kh&aacute;i niệm về dinh dưỡng tổng hợp.<br />
<br />
<strong>Anh chỉ muốn nhấn mạnh, sau khi d&ugrave;ng hết một b&aacute;t canh như thế, từ nay anh kh&ocirc;ng c&ograve;n sợ bất cứ kẻ th&ugrave; n&agrave;o.</strong><br />
<br />
Thế nhưng, hạnh ph&uacute;c r&otilde; r&agrave;ng mới chỉ bắt đầu. Bữa trưa l&agrave; một cuộc du lịch thực sự v&agrave;o thế giới ẩm thực, gi&uacute;p anh ph&aacute;t hiện đ&oacute; vẫn c&ograve;n hoang d&atilde; v&agrave; du lịch ấy c&oacute; t&ecirc;n &quot;Du lịch mạo hiểm&quot;.<br />
<br />
Em đ&atilde; luộc một đĩa rau cải xanh mướt, mướt đến cả con s&acirc;u vẫn nằm im tr&ecirc;n l&aacute; như ngủ ng&agrave;n đời.<br />
<br />
Em đưa ra m&oacute;n thịt g&agrave; x&eacute; phay của một cụ g&agrave; đ&atilde; hưởng thọ chừng trăm tuổi, khiến thịt dai như cục cao su. Cụ g&agrave; n&agrave;y ng&agrave;y trước nhất định c&oacute; tập thể thao n&ecirc;n hai đ&ugrave;i sắt lại như que.<br />
<br />
Sau một bữa trưa ch&oacute;i lọi như thế, anh vui mừng kiệt sức nằm vật ra giường để đến tối được em sốc dậy, d&igrave;u tới m&acirc;m cỗ thịnh soạn m&agrave; em đ&atilde; chuẩn bị suốt cả buổi chiều.<br />
<br />
Trong cơn m&ecirc;, anh chỉ c&ograve;n nhớ n&oacute; gồm một đĩa c&agrave;-ri, phần &quot;c&agrave;&quot; ở đ&aacute;y nồi, phần &quot;ri&quot; ở tr&ecirc;n vung, c&ugrave;ng một đĩa heo quay rất n&oacute;ng gi&ograve;n nếu chưa cất ba ng&agrave;y trong tủ lạnh.<br />
<br />
Ngo&agrave;i ra, tr&ecirc;n b&agrave;n c&ograve;n c&oacute; một chậu x&agrave; l&aacute;ch to như chậu tắm v&agrave; một con t&ocirc;m nướng tẩm mật ong nửa sống, nửa t&aacute;i, nửa cứng, nửa mềm, nửa xanh, nửa đỏ, nửa chua. nửa cay, nửa gầy, nửa b&eacute;o.<br />
<br />
Sau một bữa tối như thế em y&ecirc;u ạ, anh chả hiểu tại sao m&igrave;nh c&ograve;n sống đến h&ocirc;m sau. N&oacute;i chung, anh chả hiểu l&agrave;m sao m&igrave;nh c&ograve;n tồn tại tới b&acirc;y giờ.<br />
<br />
<strong>Sống với em, ăn những m&oacute;n em nấu khiến anh trở th&agrave;nh người đ&agrave;n &ocirc;ng dũng cảm, kh&ocirc;ng sợ gian khổ, c&oacute; h&agrave;m răng chắc khỏe, dạ d&agrave;y mạnh mẽ.</strong></p>

<p><strong><img alt="Nhật kí của một thanh niên mới làm chồng" src="http://www.truyenngan.com.vn/images/Phuongvtm/2012.10/nhat-ki-thanh-nien-moi-lam-chong-1.jpg" style="height:491px; width:500px" /></strong></p>

<p>Em th&acirc;n y&ecirc;u...<br />
<br />
Em l&agrave; một bằng chứng h&ugrave;ng hồn về khiếu h&agrave;i hước, về l&ograve;ng ng&acirc;y thơ v&agrave; tư duy kh&ocirc;ng giới hạn của phụ nữ tr&iacute; thức hiện nay.<br />
<br />
Em, những c&ocirc; g&aacute;i như em, chẳng những biết chinh phục c&aacute;c đỉnh n&uacute;i của nghệ thuật nấu ăn m&agrave; c&ograve;n biết san bằng ch&uacute;ng.<br />
<br />
M&atilde;i m&atilde;i b&ecirc;n em.</p>


</body>
</html>
