<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>Đ&acirc;y l&agrave; một h&ocirc;n lễ long trọng xa hoa, kh&aacute;ch sạn cao cấp năm sao c&ograve;n d&ugrave;ng cả m&aacute;y bay vận chuyển hoa hồng từ sớm tinh mơ, để trang ho&agrave;ng lộng lẫy, l&atilde;ng mạn, cả h&agrave;nh lang, cầu thang, đại sảnh, tất cả mọi nơi đều được trang tr&iacute; hoa tươi, đ&iacute;nh k&egrave;m những dải đăng ten tinh xảo, đắt tiền, trong kh&ocirc;ng kh&iacute; ngập tr&agrave;n hương vị ngọt ng&agrave;o.</p>

<p>&nbsp;</p>

<p>B&ecirc;n ngo&agrave;i kh&aacute;ch sạn l&agrave; một d&atilde;y d&agrave;i những chiếc xe hơi sang trọng, kh&aacute;ch mời đến dự, v&ocirc; số những nh&acirc;n vật nổi tiếng, tr&ecirc;n mặt mọi người đều nở nụ cười, h&acirc;m mộ c&oacute;, ch&uacute;c ph&uacute;c c&oacute;, ghen tị&hellip;..c&oacute;, bất kể loại n&agrave;o, đều mong chờ được chứng kiến h&ocirc;n lễ thế kỷ n&agrave;y.</p>

<p>La Mỹ Vi mặc lễ phục d&agrave;i chấm đất, v&ocirc; c&ugrave;ng lộng lẫy, đ&ocirc;i b&agrave;n tay trắng n&otilde;n nắm lấy nhau, nh&igrave;n chằm chằm v&agrave;o ph&ograve;ng nghỉ ngơi của c&ocirc; d&acirc;u, c&ocirc; rất căng thằng, cực k&igrave; căng thẳng. Lặng lẽ đếm nhịp tim m&igrave;nh, muốn để m&igrave;nh b&igrave;nh tĩnh lại, nhưng m&agrave; mỗi c&aacute;i tim đập, vẫn như cũ l&agrave;m c&ocirc; cảm thấy lồng ngực m&igrave;nh m&atilde;nh liệt chấn động.</p>

<p>Cuối c&ugrave;ng th&igrave; ng&agrave;y n&agrave;y cũng tới, c&ocirc; chờ đợi mỏi m&ograve;n, nh&igrave;n ng&agrave;y n&agrave;y từng ch&uacute;t từng ch&uacute;t tới gần, trải qua một đ&ecirc;m kh&ocirc;ng ngủ, ng&agrave;y h&ocirc;m nay vẫn tới.</p>

<p>C&ocirc; h&iacute;t một hơi thật s&acirc;u, muốn dời lực ch&uacute; &yacute; của m&igrave;nh đến những trang sức xa hoa, lộng lẫy kia, hoặc c&oacute; thể mang khu&ocirc;n mặt tươi cười, cho d&ugrave; chiếc d&acirc;y chuyền ngọc trai tr&ecirc;n cổ m&igrave;nh cũng rất đẹp, nhưng vẫn kh&ocirc;ng c&oacute; biện ph&aacute;p n&agrave;o để giảm bớt căng thẳng trong l&ograve;ng m&igrave;nh</p>

<p>Thật nực cười, ng&agrave;y trọng đại như n&agrave;y, s&aacute;ng sớm c&ocirc; đ&atilde; rời giường chuẩn bị, v&igrave; sao đến thời khắc mấu chốt, c&ocirc; vẫn căng thẳng s&eacute;m ch&uacute;t bất tỉnh thế n&agrave;y.</p>

<p>Lại m&acirc;n m&ecirc; chuỗi v&ograve;ng ngọc trai tr&ecirc;n cổ, mỗi vi&ecirc;n, đều l&agrave; tr&acirc;n ch&acirc;u mượt m&agrave;, s&aacute;ng b&oacute;ng, tay chạm tới, đều mang theo cảm gi&aacute;c m&aacute;t lạnh, chậm r&atilde;i gi&uacute;p đầu ng&oacute;n tay n&oacute;ng rực của c&ocirc; m&aacute;t đi một ch&uacute;t. Trong l&ograve;ng Mỹ Vi &acirc;m thầm thả lỏng một ch&uacute;t, c&ocirc; muốn dũng cảm một ch&uacute;t, kh&ocirc;ng cần phải sợ, c&ocirc; l&agrave; Tiểu Mỹ Vi y&ecirc;u qu&yacute; nhất của b&agrave; ngoại, c&ocirc; phải nhớ kỹ c&acirc;u n&oacute;i cuối c&ugrave;ng b&agrave; ngoại n&oacute;i với c&ocirc;.</p>

<p>Rốt cục, c&ocirc; từ từ thả lỏng, c&agrave;ng ng&agrave;y c&agrave;ng b&igrave;nh tĩnh, chậm r&atilde;i nở nụ cười. Đến khi cảm nhận được tiếng n&aacute;o nhiệt ở đại sảnh từ từ nhỏ lại, l&ograve;ng c&ocirc; chợt tr&ugrave;ng xuống, thời khắc m&agrave; bản th&acirc;n m&igrave;nh đợi cuối c&ugrave;ng cũng đến.</p>

<p>C&ocirc; lại &acirc;m thầm, lặng lẽ đếm thời gian, chờ đợi kh&uacute;c nhạc quen thuộc m&agrave; xa lạ kia tấu l&ecirc;n, chờ đợi khoảnh khắc m&igrave;nh ra s&acirc;n khấu.</p>

<p>&Aacute;nh mắt kh&ocirc;ng tự chủ nh&igrave;n về cửa ch&iacute;nh ph&ograve;ng nghỉ, khi c&aacute;nh cửa kia mở ra, th&ocirc;ng b&aacute;o thời khắc quan trọng đ&atilde; tới, chỉ cần&hellip;..</p>

<p>&ldquo;Rầm&rdquo; một tiếng, cửa lớn đắt tiền nặng nề mở ra, một b&oacute;ng người cao lớn, mạnh mẽ, xuất hiện ở cửa.</p>

<p>Mỹ Vi nh&igrave;n về ph&iacute;a người đ&agrave;n &ocirc;ng kia, một lần nữa, khu&ocirc;n mặt lạnh l&ugrave;ng của anh, lại khiến l&ograve;ng c&ocirc; đau nh&oacute;i, ngũ quan sắc n&eacute;t, vẻ mặt nghi&ecirc;m t&uacute;c, mỗi lần nh&igrave;n anh, c&ocirc; đều cảm thấy một loại m&atilde;nh liệt, khiến c&ocirc; kh&ocirc;ng thế n&agrave;o thở nổi.</p>

<p>Con ngươi đen nh&aacute;nh của anh bỗng l&oacute;e l&ecirc;n &aacute;nh s&aacute;ng sắc b&eacute;n, bước ch&acirc;n dồn dập, chợt hơi chậm lại, ngừng bước, anh từ từ xoay người, &aacute;nh mắt từ từ quan s&aacute;t tới đ&acirc;y, giống như lưỡi dao sắc mỏng qu&eacute;t qua, &acirc;m u dọa người, sau đ&oacute; nh&igrave;n chằm chằm v&agrave;o c&ocirc;&hellip;..Anh ph&aacute;t hiện ra c&ocirc;.</p>

<p>C&ocirc; đứng nơi đ&oacute;, như một b&ocirc;ng hoa tươi m&aacute;t, cực k&igrave; thanh nh&atilde;, thuần t&uacute;y m&agrave; thanh khiết, sạch sẽ đến mức kh&ocirc;ng nhiễm bụi trần.</p>

<p>Chưa tới nửa ph&uacute;t, c&ocirc; đ&atilde; cảm thấy h&iacute;t thở kh&ocirc;ng th&ocirc;ng. Đ&acirc;y ch&iacute;nh l&agrave; lần đầu ti&ecirc;n hai người mắt đối mắt, cũng l&agrave; lần đầu ti&ecirc;n, anh cẩn thận, nghi&ecirc;m t&uacute;c nh&igrave;n c&ocirc;, c&ocirc; c&oacute; ảo gi&aacute;c, dường như c&oacute; thể nh&igrave;n r&otilde; b&oacute;ng d&aacute;ng m&igrave;nh trong con ngươi ngăm đen kia, lo&aacute;ng tho&aacute;ng nghe được tr&aacute;i tim m&igrave;nh đi&ecirc;n cuồng nhảy l&ecirc;n, cảm thấy m&aacute;u kh&ocirc;ng ngừng dồn &eacute;p chảy ra., x&ocirc;ng thẳng l&ecirc;n đầu.</p>

<p>Đ&oacute; l&agrave; một loại. . . . . . cảm gi&aacute;c đi&ecirc;n cuồng.</p>

<p>Anh cất bước đi về ph&iacute;a c&ocirc;, từng bước từng bước, nặng nề v&agrave; ki&ecirc;n định, khi anh đi tới trước mặt c&ocirc;, đứng nghi&ecirc;m tại chỗ, c&ocirc; nh&igrave;n gương mặt quen thuốc n&agrave;y, trong l&ograve;ng, c&oacute; ngọt c&oacute; đắng, c&oacute; chua c&oacute; chat.</p>

<p>C&ocirc; đối mặt anh, kh&ocirc;ng n&oacute;i kh&ocirc;ng cười.</p>

<p>Anh c&uacute;i đầu, nh&igrave;n c&ocirc;.</p>

<p>H&ocirc; hấp của c&ocirc; muốn đ&igrave;nh chỉ, tựa hồ c&oacute; thể đ&aacute;nh đổi thời gian một đời c&oacute; được một lần chăm ch&uacute; nh&igrave;n n&agrave;y.</p>

<p>C&ocirc; nh&igrave;n l&agrave;n m&ocirc;i mỏng, đường cong đ&ocirc;i m&ocirc;i ph&aacute; c&aacute;ch ho&agrave;n mỹ, lại mang theo ki&ecirc;n định c&ugrave;ng tự tin, thong thả mở miệng: &ldquo; Em, bằng l&ograve;ng gả cho t&ocirc;i kh&ocirc;ng?&rdquo;</p>

<p>&ldquo;Ầm&rdquo; một tiếng, to&agrave;n bộ thế giới ở trước mặt c&ocirc; sụp đổ, tất cả vạn vật trong đất trời cũng đều biến mất sau lưng, trong mắt c&ocirc; b&acirc;y giờ chỉ c&ograve;n b&oacute;ng d&aacute;ng anh, b&ecirc;n tai chỉ c&oacute; thể nghe c&acirc;u hỏi n&agrave;y của anh, kh&ocirc;ng ngừng vọng tới lại vọng tới&hellip;&hellip;&hellip;..</p>

<p>Em, c&oacute; bằng l&ograve;ng gả cho t&ocirc;i, bằng l&ograve;ng kh&ocirc;ng, bằng l&ograve;ng kh&ocirc;ng . . . . .</p>

<p>&ldquo;Reng! Reng! Reng. . . . .&rdquo; Tiếng chu&ocirc;ng b&aacute;o thức reo l&ecirc;n lanh lảnh, một c&aacute;nh tay mềm mại, trắng hồng, từ trong chăn ấm vươn ra, lần m&ograve; quanh đầu giường một hồi, cuổi c&ugrave;ng cũng m&ograve; tới con vịt nhỏ m&agrave;u v&agrave;ng đang ầm ĩ kia, ch&iacute;nh x&aacute;c cắt đứt &acirc;m thanh đang l&agrave;m phiền mộng đẹp người kh&aacute;c.</p>

<p>H&agrave;i l&ograve;ng, chăn in hoa m&agrave;u xanh da trời mềm mại một lần nữa tr&ugrave;m cả đầu, tiếp tục say giấc nồng.</p>

<p>&ldquo;U &ocirc; u &ocirc;. . . . . .&rdquo; Lần n&agrave;y tiếng c&ograve;i b&aacute;o động c&oacute; lực chấn động gấp mười lần vang l&ecirc;n, l&agrave;m cho người tr&ecirc;n giường như bị đ&aacute;nh tr&uacute;ng từ tr&ecirc;n giường nhảy dựng l&ecirc;n. &ldquo;A! Đau qu&aacute;!&rdquo; D&ugrave;ng sức qu&aacute; mạnh, đầu bị đập v&agrave;o th&agrave;nh giường, c&ocirc; hốt hoảng sờ soạng, lần t&igrave;m khắp nơi tiếng k&ecirc;u kinh khủng kia&hellip;.</p>

<p>&ldquo; A Uy gh&ecirc; tởm, l&uacute;c n&agrave;o cũng th&iacute;ch t&aacute;c qu&aacute;i!&rdquo; vừa tr&aacute;ch m&oacute;c, vừa t&igrave;m kiếm, cuối c&ugrave;ng cũng lần m&ograve; được tới c&aacute;i đồng hồ b&aacute;o thức đang k&ecirc;u inh ỏi kia, nh&eacute;t xuống dưới nệm, Mỹ Vi &ocirc;m chăn b&ocirc;ng ng&acirc;y ng&ocirc; ngồi tr&ecirc;n giường, đau đớn tr&ecirc;n tr&aacute;n truyền đến, con mắt chớp chớp, lại chớp chớp, sau đ&oacute; lại cuộn tr&ograve;n chăn nằm vật xuống, trong chăn thật l&agrave; ấm chết đi được&hellip;&hellip;&hellip;&hellip;.</p>

<p>M&iacute; mắt khẽ kh&agrave;ng kh&eacute;p lại, chuẩn bị ch&igrave;m v&agrave;o giấc ngủ, ai ngờ tiếng c&ograve;i b&aacute;o động lại một lần nữa vang l&ecirc;n, c&agrave;ng b&eacute;n nhọn hơn khi n&atilde;y, cực k&igrave; kinh khủng, c&ocirc; sợ tới mức su&yacute;t lăn xuống đất, tất cả s&acirc;u ngủ cũng bị đuổi chạy, c&ocirc; coi như l&agrave; muốn ngủ lại cũng kh&ocirc;ng ngủ được nữa.</p>

<p>Dụi mắt, chậm r&atilde;i tụt xuống giường, quần &aacute;o ngủ hoa hồng nhỏ, trải qua một đ&ecirc;m &ldquo; gi&agrave;y x&eacute;o&rdquo;, đ&atilde; sớm nhăn th&agrave;nh một mới, c&ocirc; đi tới ph&ograve;ng tắm rửa mặt.</p>

<p>Chờ tới l&uacute;c c&ocirc; vui vẻ, khoan kho&aacute;i từ ph&ograve;ng tắm đi ra, lơ đ&atilde;ng nh&igrave;n tới đồng hồ treo tr&ecirc;n tường, lập tức sắc mặt trắng bệch, h&eacute;t, &ldquo; Chết rồi, muộn l&agrave;m!&rdquo;</p>

<p>Nhảy dựng l&ecirc;n, hốt hốt hoảng hoảng t&igrave;m t&uacute;i x&aacute;ch khắp nơi, lục tung khắp ph&ograve;ng, vất vả một phen mới t&igrave;m được t&uacute;i x&aacute;ch, nhưng bởi v&igrave; h&ocirc;m qua kh&ocirc;ng c&oacute; sắp xếp lại t&uacute;i x&aacute;ch, cho n&ecirc;n mọi thứ trong t&uacute;i x&aacute;ch đều văng ra, n&agrave;o l&agrave; giấy lau, urgo, băng d&aacute;n. Đồ linh tinh g&igrave; cũng c&oacute;, c&ocirc; đ&agrave;nh ngồi xổm xuống nhặt, xong xu&ocirc;i lại ph&aacute;t hiện kh&ocirc;ng thấy điện thoại, thế l&agrave; lại lật tung cả ph&ograve;ng lộn xộn, rốt cục cũng thấy c&aacute;i điện thoại đang ở sau gối &ocirc;m tr&ecirc;n ghế salon.</p>

<p>Chẳng d&aacute;m nh&igrave;n xem đồng hồ chỉ mấy giờ, c&ocirc; vọt tới trước cửa thay gi&agrave;y, c&aacute;i tr&aacute;n lại bị đụng v&agrave;o tủ, đau rớt cả nước mắt, nhưng m&agrave; cũng chẳng kịp nghĩ nhiều, đi được một b&ecirc;n giầy liền k&eacute;o cửa, như đi&ecirc;n chạy ra.</p>

<p>★★</p>

<p>9h2&rsquo;, tại đại sảnh c&ocirc;ng ty m&aacute;y t&iacute;nh Thượng Thanh, Mỹ Vi chật vật kh&oacute;c kh&ocirc;ng ra nước mắt, bả vai trĩu xuống bấm thang m&aacute;y đi tới tầng 3 ph&ograve;ng h&agrave;nh ch&iacute;nh tổng hợp, nơi c&ocirc; c&ocirc;ng t&aacute;c đ&atilde; được ba năm.</p>

<p>Vừa bước v&agrave;o cửa liền thấy ngay chị Đổng mập mạp đứng ở cửa cười t&iacute;t mắt gật đầu với c&ocirc;, &ldquo; Oa, Tiểu Vi, h&ocirc;m nay chỉ đến muộn c&oacute; hai ph&uacute;t nh&eacute;, c&oacute; tiến bộ.&rdquo;</p>

<p>Đầu của c&ocirc; c&uacute;i c&agrave;ng thấp hơn. . . . . .</p>

<p>&ldquo; A, Tiểu Vi &agrave;, ng&agrave;y h&ocirc;m qua, ch&aacute;u chả vỗ ngực cam đoan nhất định h&ocirc;m nay kh&ocirc;ng đến muộn cho chủ nhiệm xem sao? Ha ha ha&hellip;&rdquo; Tiếng cười của b&aacute;c Dư v&ocirc; c&ugrave;ng kho&aacute;i tr&aacute; lại mạnh mẽ truyền đến.</p>

<p>Đầu thấp hơn. . . . . .</p>

<p>&ldquo; Vi, chị cố gắng l&ecirc;n, ng&agrave;y mai tiếp tục tới muộn, em phục chị nha.&rdquo; Em g&aacute;i vừa học vừa l&agrave;m vỗ vỗ vai c&ocirc;.</p>

<p>Thấp đến tr&ecirc;n s&agrave;n nh&agrave;. . . . . .</p>

<p>&ldquo;La Mỹ Vi, c&ocirc; đến đ&acirc;y cho t&ocirc;i !&rdquo; tiếng h&ocirc; vang dội của chủ nhiệm từ trong ph&ograve;ng truyền ra.</p>

<p>&Ocirc;. . . . . . C&ocirc; c&oacute; thể chạy trốn hay kh&ocirc;ng?</p>

<p>C&ocirc; cọ v&agrave;o v&aacute;ch tường, d&ugrave;ng bước ch&acirc;n của r&ugrave;a di chuyển tới ph&ograve;ng l&agrave;m việc của chủ nhiệm.</p>

<p>&ldquo;C&ocirc; d&aacute;m cho t&ocirc;i nh&igrave;n bước đi vũ trụ thử xem&rdquo;</p>

<p>Thật đ&aacute;ng sợ!</p>

<p>Mĩ Vi rất nhanh chạy v&agrave;o ph&ograve;ng l&agrave;m việc của chủ nhiệm, c&ograve;n chưa cất tiếng, mặt cười ngọt ng&agrave;o đ&atilde; nở rộ, &ldquo; Chủ nhiệm, tinh thần h&ocirc;m nay thật tốt, ng&agrave;i xem to&agrave;n th&acirc;n ph&aacute;t s&aacute;ng ngời ngời, c&oacute; phải c&oacute; chuyện vui kh&ocirc;ng ạ?&rdquo;</p>

<p>M&atilde; Hồng Minh muốn trực tiếp b&oacute;p chết c&ocirc;, &ldquo;Chuyện vui? C&ocirc; đếm xem, th&aacute;ng n&agrave;y c&ocirc; đ&atilde; muộn bao nhi&ecirc;u lần?&rdquo; Hắn căn bản kh&ocirc;ng muốn hỏi c&ocirc; c&ocirc;ng việc tới nay đ&atilde; muộn bao nhi&ecirc;u lần hoặc l&agrave; năm nay đ&atilde; muộn bao nhi&ecirc;u lần, bởi v&igrave; số lượng qu&aacute; nhiều, căn bản l&agrave; nhớ kh&ocirc;ng hết!</p>

<p>&ldquo;Dạ , l&agrave;m g&igrave; so đo như vậy &aacute;&hellip;, h&ocirc;m nay t&ocirc;i chỉ muộn hai ph&uacute;t th&ocirc;i, cũng kh&ocirc;ng t&iacute;nh l&agrave; muộn lắm m&agrave;.&rdquo; C&ocirc; cười với hắn , mặt rực rỡ.</p>

<p>C&aacute;i g&igrave;! Muộn hai ph&uacute;t kh&ocirc;ng t&iacute;nh l&agrave; đ&atilde; trễ?</p>

<p>M&atilde; Hồng Minh thiếu nước hộc m&aacute;u m&agrave; chết, im lặng hỏi &ocirc;ng trời, thế n&agrave;o lại c&oacute; cấp dưới như n&agrave;y chứ, &ldquo;C&ocirc; c&ograve;n d&aacute;m n&oacute;i? Hiệu suất l&agrave;m việc như vậy, ghi ch&eacute;p như vậy, nếu kh&ocirc;ng phải t&ocirc;i t&igrave;m c&aacute;ch che giấu gi&uacute;p c&ocirc;, gi&uacute;p c&ocirc; n&oacute;i tốt, c&ocirc; c&ograve;n c&oacute; thể ở Duệ Sang đần đần độn độn sao?&rdquo;</p>

<p>&ldquo;C&aacute;m ơn chủ nhiệm quan t&acirc;m, v&ocirc; c&ugrave;ng cảm k&iacute;ch, v&ocirc; c&ugrave;ng cảm k&iacute;ch.&rdquo;</p>

<p>&ldquo;Ng&agrave;y h&ocirc;m qua người n&agrave;o cam đoan với t&ocirc;i, h&ocirc;m nay nhất định kh&ocirc;ng đến muộn, hả?&rdquo;</p>

<p>Hắn cũng thấy tuổi gi&agrave; rồi, &agrave; kh&ocirc;ng, hắn cũng đ&atilde; trực tiếp gi&agrave; rồi, chỉ mới bốn mươi lăm tuổi, thế m&agrave; đầu bao nhi&ecirc;u l&agrave; sợi bạc, đều l&agrave; do nha đầu n&agrave;y chọc tức, nếu như kh&ocirc;ng phải nh&igrave;n v&agrave;o sự cố gắng trong c&ocirc;ng việc của c&ocirc;, hơn nữa mới tiến v&agrave;o đ&acirc;y đ&atilde; đi theo hắn, hắn đ&atilde; sớm&hellip;. Haizz, lời n&oacute;i ngoan độc đ&uacute;ng l&agrave; kh&oacute; n&oacute;i ra được, ai bảo c&aacute;i con b&eacute; ngốc n&agrave;y, mặc d&ugrave; l&agrave;m việc lơ mơ, l&uacute;c n&agrave;o cũng phạm sai lầm, ng&agrave;y ng&agrave;y đề đến muộn, l&yacute; do l&yacute; trấu hoang đường, kỳ quặc thế n&agrave;o cũng c&oacute;, nhưng m&agrave; hắn ch&iacute;nh l&agrave; kh&ocirc;ng thể hạ quyết t&acirc;m mắng mỏ hay tr&aacute;ch cứ một c&acirc;u được.</p>

<p>Con b&eacute; rất đơn thuần, tốt nghiệp xong sẽ tới nơi n&agrave;y c&ocirc;ng t&aacute;c, hơn nữa trước hết l&agrave; đi theo hắn, mỗi ng&agrave;y đều cười meo meo, miệng lại ngọt, mặc d&ugrave; ch&acirc;n tay vụng về, nhưng lại chưa từng c&oacute; &yacute; xấu với ai, đối tốt với tất cả mọi người, cả ph&ograve;ng h&agrave;nh ch&iacute;nh tổng hợp, ai nấy đều y&ecirc;u th&iacute;ch con b&eacute;. Khỏi cần nghĩ cũng biết, l&agrave;m ở ph&ograve;ng h&agrave;nh ch&iacute;nh tổng hợp đều l&agrave; người lớn tuổi, kh&oacute; c&oacute; được một tiểu nữ sinh ngoan ngo&atilde;n, tự nhi&ecirc;n trong l&ograve;ng ai cũng muốn thương tiếc, hơn nữa nơi n&agrave;y coi như tương đối đơn giản, kh&ocirc;ng c&oacute; lục đục, tranh đấu c&aacute;i g&igrave;, tất cả mọi người đều chung sống h&ograve;a hợp.</p>

<p>B&igrave;nh thường chỉ cần Tiểu Vi kh&ocirc;ng g&acirc;y ra rắc rối to lớn g&igrave;, bọn họ cũng sẽ gi&uacute;p che giấu chuyện xấu, cho n&ecirc;n hắn mới c&oacute; thể để cho c&aacute;i con b&eacute; một th&aacute;ng th&igrave; hai mươi ng&agrave;y tới muộn n&agrave;y, b&igrave;nh an sống qua ng&agrave;y, nếu kh&ocirc;ng ở tập đo&agrave;n Duệ Sang nghi&ecirc;m khắc như vậy, con b&eacute; sớm bị đ&aacute; ra từ đời t&aacute;m ho&aacute;nh rồi.</p>

<p>&rdquo; C&ocirc; lười chảy th&acirc;y như vậy, thật l&agrave; muốn phạt c&ocirc; thật nặng.&rdquo; M&atilde; Hồng Minh trừng c&ocirc;, &ldquo; H&ocirc;m nay, tất cả thư từ đều do c&ocirc; đi ph&aacute;t, c&ograve;n c&oacute; c&aacute;i n&agrave;y.&rdquo; Lấy một tờ danh s&aacute;ch tr&ecirc;n b&agrave;n, : To&agrave;n bộ đồ d&ugrave;ng c&ocirc;ng ty muốn tu sửa, c&ocirc; cũng đi giải quyết đi.&rdquo;</p>

<p>&ldquo;Hả?&rdquo; Lại nữa? Trời ạ, giết c&ocirc; đi! Cả c&ocirc;ng ty 32 tầng, mỗi ng&agrave;nh đều phải đi &iacute;t nhất hai lần, đừng nghĩ đến việc m&igrave;nh c&ograve;n phải đẩy dụng cụ đi, h&ocirc;m nay c&ocirc; cũng đừng nghĩ thở nữa</p>

<p>&ldquo;A c&aacute;i g&igrave; &agrave;? C&ograve;n kh&ocirc;ng mau đi?&rdquo;</p>

<p>C&ocirc; một lần nữa c&uacute;i đầu, v&ocirc; lực l&ecirc;n tiếng: &ldquo;V&acirc;ng&rdquo;</p>

<p>C&uacute;i đầu ủ rũ đi ra ph&ograve;ng l&agrave;m việc chủ nhiệm liền thấy ngay ba người đang cười đến v&ocirc; c&ugrave;ng vui vẻ.</p>

<p>&ldquo;Vi, h&ocirc;m nay c&aacute;m ơn chị nha.&rdquo;</p>

<p>&ldquo;Tiểu Vi, em y&ecirc;n t&acirc;m, buổi trưa chị sẽ gi&uacute;p em mua suất cơm , cố gắng l&ecirc;n!&rdquo;</p>

<p>&ldquo;A, Tiểu Vi a, sớm n&ecirc;n nghe lời b&aacute;c Dư nha, t&igrave;m c&aacute;i con r&ugrave;a v&agrave;ng m&agrave; kết h&ocirc;n, cũng kh&ocirc;ng cần khổ cực thế m&agrave;. Đ&uacute;ng rồi, ch&aacute;u l&ecirc;n tr&ecirc;n tầng hai mươi trở l&ecirc;n, t&ugrave;y tiện chọn một người, đảm bảo cả đời kh&ocirc;ng cần lo cơm ăn &aacute;o mặc&rdquo;</p>

<p>&ldquo;Ch&aacute;u. . . . . . Ch&aacute;u đi nh&agrave; kho ạ. . . . . .&rdquo; đối với giọng n&oacute;i t&ecirc;n bay đạn lạc của b&aacute;c Dư, Mỹ Vi vội chạy mất d&eacute;p.</p>

<p>Chạy một mạch đến nh&agrave; kho, c&ocirc; mới thở ph&agrave;o nhẹ nh&otilde;m, b&aacute;c Dư l&uacute;c n&agrave;o cũng thế, muốn c&ocirc; t&igrave;m một người c&oacute; tiền kết h&ocirc;n, c&ocirc; mỗi ng&agrave;y nghe thấy đều đau x&oacute;t, nghe b&aacute;c Dư chuẩn bị oanh tạc, chỉ c&oacute; thể trốn cho kĩ.</p>

<p>C&ocirc; tự biết bản th&acirc;n m&igrave;nh m&agrave;&hellip; d&aacute;ng dấp tầm thường, t&iacute;nh c&aacute;ch mơ hồ, ng&agrave;y n&agrave;o cũng qu&ecirc;n trước qu&ecirc;n sau, c&oacute; thể t&igrave;m đến người đ&agrave;n &ocirc;ng b&igrave;nh thường, th&agrave;nh thật nề nếp để kết h&ocirc;n coi như l&agrave; may mắn lắm rồi, l&agrave;m sao d&aacute;m mơ tưởng đến những tinh anh trong Duệ Sang, r&ugrave;a v&agrave;ng, tiền lương h&agrave;ng năm đều đ&egrave; chết người, c&oacute; thể để mắt tới c&ocirc; g&aacute;i như c&ocirc;? Cho n&ecirc;n c&ocirc; cũng chẳng cần mơ ước xa vời, mỗi ng&agrave;y chỉ cầu y&ecirc;n b&igrave;nh, vui vẻ tr&ocirc;i qua l&agrave; tốt rồi.</p>

<p>Ước mong lớn nhất của c&ocirc; b&acirc;y giờ, ch&iacute;nh l&agrave; t&iacute;ch c&oacute;p đủ tiền đi du lịch v&ograve;ng quanh thế giới, nơi n&agrave;o cũng c&oacute; dấu ch&acirc;n m&igrave;nh lưu lại, oa, nghĩ một ch&uacute;t th&ocirc;i cũng cảm thấy vui vẻ rồi&hellip;..</p>

<p>Tiếng chu&ocirc;ng điện thoại vang l&ecirc;n k&eacute;o suy nghĩ của c&ocirc; đang c&aacute;ch xa ng&agrave;n dặm trở về thực tế, c&ocirc; vội lấy di động ra, su&yacute;t nữa l&agrave;m rơi xuống đất. &ldquo; alo&rdquo;</p>

<p>&ldquo;La Mỹ Vi, h&ocirc;m nay chị kh&ocirc;ng tới muộn chứ? Ha ha, phải cảm ơn em đ&oacute;, em đ&atilde; d&acirc;ng hiến cho chị một tiếng chu&ocirc;ng s&eacute;t đ&aacute;nh mạnh mẽ si&ecirc;u cấp v&ocirc; địch cơ m&agrave;, c&ocirc;ng lao kh&ocirc;ng nhỏ đ&acirc;u nh&aacute;?&rdquo; Một giọng con trai trẻ tuổi truyền ra từ điện thoại: &ldquo; Chị phải nghĩ xem n&ecirc;n cảm ơn em thế n&agrave;o nh&eacute;, th&ocirc;i, biết chị ngh&egrave;o, mời em ăn bữa đại tiệc l&agrave; được rồi&rdquo;</p>

<p>Thật l&agrave;. . . . . . Qu&aacute; v&ocirc; sỉ! C&ocirc; trợn to hai mắt, d&ugrave;ng sức rống trở về: &ldquo;La Tuấn Uy, em c&ograve;n d&aacute;m n&oacute;i!&rdquo;</p>

<p>Tức chết c&ocirc; m&agrave;, ch&iacute;nh c&aacute;i đồng hồ b&aacute;o thức đ&oacute; ban tặng, c&aacute;i tr&aacute;n của c&ocirc; b&acirc;y giờ c&ograve;n sưng một cục to tướng, thế m&agrave; t&ecirc;n đầu sỏ g&acirc;y ra lại c&ograve;n tới đ&acirc;y tranh c&ocirc;ng? Đ&uacute;ng l&uacute;c h&ocirc;m nay đang buồn bực, c&oacute; thể ph&aacute;t tiết to&agrave;n bộ l&ecirc;n thằng em trai ra đời sau m&igrave;nh năm ph&uacute;t đồng hồ n&agrave;y, ai bảo n&oacute; ngứa da tự dẫn x&aacute;c tới, hừ!</p>

<p>Chạy tới chạy lui đến tận trưa, mới c&oacute; thể ngồi xuống thưởng thức m&oacute;n xương sườn thơm nức, thật l&agrave; sự l&agrave; một niềm hạnh ph&uacute;c. Mỹ Vi x&uacute;c một th&igrave;a cơm to nh&eacute;t v&agrave;o miệng, lại th&ecirc;m một miếng sườn gi&ograve;n thơm, &ocirc; &ocirc; đ&oacute;&hellip;..Nếu như c&oacute; th&ecirc;m gia vị tin tức b&aacute;t qu&aacute;i, cuộc sống l&agrave; đ&acirc;y, c&ograve;n cầu g&igrave; hơn chứ?</p>

<p>&ldquo;B&agrave; con nghe n&oacute;i g&igrave; chưa?&rdquo; Em g&aacute;i l&agrave;m th&ecirc;m Chung Văn vừa tới cất giọng thần thần b&iacute; b&iacute;, kiểu cả thế giới chỉ m&igrave;nh ta hiểu r&otilde;, hỏi quần ch&uacute;ng.</p>

<p>&ldquo;Nghe n&oacute;i c&aacute;i g&igrave;?&rdquo; Đổng Thục Tuệ lập tức hưởng ứng vừa cầm suất cơm hộp của m&igrave;nh, hứng th&uacute; mười phần tiến l&ecirc;n trước.</p>

<p>B&aacute;c Dư lu&ocirc;n nhiệt t&igrave;nh với tin tức b&aacute;t qu&aacute;i cũng kh&ocirc;ng chịu tụt hậu, &ldquo;Tin g&igrave;, n&oacute;i mau n&oacute;i mau.&rdquo;</p>

<p>Ph&ograve;ng h&agrave;nh ch&iacute;nh tổng hợp gồm năm người, trừ chủ nhiệm đ&atilde; ra ngo&agrave;i ăn cơm, c&ograve;n lại bốn người đang cầm tr&ecirc;n tay cơm hộp, x&uacute;m x&iacute;t lại, vừa ăn vừa n&oacute;i chuyện, v&ocirc; c&ugrave;ng n&aacute;o nhiệt, đ&acirc;y ch&iacute;nh l&agrave; &ldquo; ph&uacute;c lợi&rdquo; m&agrave; cả c&ocirc;ng ty chỉ c&oacute; ph&ograve;ng h&agrave;nh ch&iacute;nh tổng hợp mới c&oacute;.</p>

<p>Th&agrave;nh c&ocirc;ng thu h&uacute;t lực ch&uacute; &yacute; của quần ch&uacute;ng, c&ocirc; b&eacute; Tiểu Văn mới h&agrave;i l&ograve;ng gật đầu, &ldquo; Đ&atilde; nghe n&oacute;i tổng t&agrave;i trở về chưa.&rdquo;</p>

<p>&ldquo;Vậy sao, vậy sao?&rdquo; Đổng Thục Tuệ lập tức hưng phấn kh&ocirc;ng giống b&agrave; chị đ&atilde; bốn mươi c&aacute;i xu&acirc;n xanh, mắt s&aacute;ng rực l&ecirc;n, &ldquo;Tin tức chuẩn x&aacute;c kh&ocirc;ng?&rdquo;</p>

<p>&ldquo;Đương nhi&ecirc;n l&agrave; thật!&rdquo; Bị nghi ngờ tin tức ph&aacute;t ra, c&ocirc; b&eacute; lập tức kh&ocirc;ng vui, ra sức cam đoan, &ldquo;Em vừa mới nghe từ người trong ph&ograve;ng thư k&iacute; đi mua cơm trưa n&oacute;i m&agrave;?&rdquo;</p>

<p>&ldquo;Ph&ograve;ng thư k&iacute; nha, xem ra l&agrave; chuẩn rồi.&rdquo;</p>

<p>To&agrave;n bộ c&ocirc;ng ty, từ tr&ecirc;n xuống dưới, ai c&ograve;n r&otilde; r&agrave;ng h&agrave;nh tung của boss hơn ph&ograve;ng thư k&iacute; nữa đ&acirc;y, Đổng Thục Tuệ vui vẻ gật đầu,&rdquo;Tổng t&agrave;i cuối c&ugrave;ng cũng muốn trở về rồi, đ&atilde; thật l&acirc;u chưa trở lại Đ&agrave;i Bắc đ&oacute;.&rdquo; Cảm th&aacute;n cảm th&aacute;n.</p>

<p>&ldquo;X&igrave;, tổng t&agrave;i trở lại m&agrave; cũng coi l&agrave; tin tức trọng đại &agrave;?&rdquo; B&aacute;c Dư x&igrave; mũi coi thường, &ldquo;Quanh năm suốt th&aacute;ng , tổng t&agrave;i trở về b&ecirc;n n&agrave;y c&oacute; &iacute;t nhất hai lần, c&oacute; c&aacute;i g&igrave; ly kỳ.&rdquo; Mặc d&ugrave; tổng c&ocirc;ng ty của Duệ Sang ở nước Mỹ, nhưng Đ&agrave;i Bắc d&ugrave; sao cũng l&agrave; mảnh đất l&agrave;m gi&agrave;u m&agrave;u mỡ của Thạch gia, c&ocirc;ng ty ở Đ&agrave;i Bắc cũng rất quan trọng, cho n&ecirc;n tổng t&agrave;i trong một năm lu&ocirc;n trở về thị s&aacute;t mấy lần, đ&acirc;y coi l&agrave; tin tức g&igrave; chứ?</p>

<p>&ldquo;Giời ơi,&ocirc;ng kh&ocirc;ng hiểu được đ&acirc;u&rdquo; Đổng Thục Tuệ lập tức thưởng cho b&aacute;c c&aacute;i xem thường, &ldquo;Chỉ cần nghĩ đến những ng&agrave;y kế tiếp c&oacute; thể nh&igrave;n thấy tổng t&agrave;i, t&ocirc;i hận kh&ocirc;ng thể ng&agrave;y n&agrave;o cũng đi l&agrave;m đ&oacute;.&rdquo; &Ocirc;ng gi&agrave; n&agrave;y th&igrave; hiểu c&aacute;i g&igrave;, l&agrave;m cho người ta vui vẻ, kh&ocirc;ng phải l&agrave; tin tức tổng t&agrave;i trở về, m&agrave; l&agrave; c&oacute; thể nh&igrave;n thấy tổng t&agrave;i nha.</p>

<p>&ldquo;C&oacute; c&aacute;i g&igrave; thật l&agrave; cao hứng , tổng t&agrave;i lấy b&agrave; về l&agrave;m l&atilde;o th&aacute;i b&agrave; &agrave;&hellip;,tối về h&atilde;y mơ đi b&agrave;.&rdquo; Dư b&aacute; lạnh l&ugrave;ng dội nước l&atilde;.</p>

<p>&ldquo;Nh&igrave;n no con mắt kh&ocirc;ng được &agrave;, nh&igrave;n lại tổng t&agrave;i của ch&uacute;ng ta, qu&aacute; manly, ba phần cao lớn bảy phần uy phong, &ocirc;ng xem l&uacute;c tổng t&agrave;i mặc comple, c&aacute;i d&aacute;ng người đ&oacute;, đ&oacute;. . . . . .&rdquo; ( ừng ực)</p>

<p>&ldquo;A, chị Đổng, chị c&oacute; ăn đ&ugrave;i g&agrave; kh&ocirc;ng ạ?&rdquo; La Mỹ Vi nuốt xuống thức ăn trong miệng, nh&igrave;n thức ăn ngon l&agrave;nh trong hộp của Đổng Thục Tuệ.</p>

<p>Đổng Thục Tuệ t&ugrave;y &yacute; phất phất tay, La Mỹ Vi lập tức vui vẻ gắp đ&ugrave;i g&agrave; tới, cầm l&ecirc;n cấu x&eacute;.</p>

<p>&ldquo;Trời ơi, Vi, chị ăn như thế chỉ c&oacute; nước b&eacute;o ph&igrave; m&agrave; chết đấy?&rdquo; C&ocirc; b&eacute; Tiểu Văn h&eacute;t l&ecirc;n, trừng c&ocirc;&rdquo; Chị t&iacute;nh xem, vừa mới ăn sườn heo, nung n&uacute;c thịt như thế, chị kh&ocirc;ng thấy ngớn &agrave;? B&acirc;y giờ c&ograve;n gặm đ&ugrave;i g&agrave; nữa, chị c&oacute; biết trong đ&oacute; c&oacute; chứa bao nhi&ecirc;u l&agrave; calo kh&ocirc;ng hơ? Ăn v&agrave;o chỉ c&oacute; chết mập th&ocirc;i.&rdquo;</p>

<p>Mập chết? Mỹ Vi miệng cắn được một nửa đ&ugrave;i g&agrave;, sửng sốt.</p>

<p>&ldquo;Tiểu Văn, ch&aacute;u nh&igrave;n Tiểu Vi nh&agrave; ch&uacute;ng ta mập chỗ n&agrave;o chứ&hellip;, để cho n&oacute; ăn đi.&rdquo; B&aacute;c Dư lập tức chủ tr&igrave; c&ocirc;ng đạo</p>

<p>&rdquo; B&aacute;c xem chị ấy c&oacute; chỗ n&agrave;o kh&ocirc;ng mập chứ, b&aacute;c nh&igrave;n mặt chị ấy n&agrave;y, tr&ograve;n trịa, nung n&uacute;c thịt thế n&agrave;y, c&ograve;n c&oacute; bộ ngực&hellip;.&rdquo; Tiểu Văn bi phẫn nh&igrave;n ch&ograve;ng chọc v&agrave;o chiếc &aacute;o sơ mi rộng th&ugrave;ng th&igrave;nh, cũng kh&oacute; che giấu được &ldquo;Vĩ đại&rdquo; , &aacute;nh mắt ghen tị trần truồng.</p>

<p>&ldquo;Ack. . . . . .&rdquo; Thịt g&agrave; trong miệng Mỹ Vi nghẹn đứng, c&ocirc; xấu hổ tới mức đầu cứ thấp dần, thấp dần, l&agrave;m ơn đi, b&aacute;c Dư c&ograve;n ở đ&acirc;y, Tiểu Văn lảm nhảm c&aacute;i g&igrave; kh&ocirc;ng biết nữa.</p>

<p>B&aacute;c Dư ho khan một c&aacute;i.</p>

<p>&ldquo;Mặt của chị đỏ l&ecirc;n l&agrave;m g&igrave;?&rdquo; Tiểu Văn nh&igrave;n thấy khu&ocirc;n mặt như tr&aacute;i c&agrave; chua của Mỹ Vi, lập tức ngạc nhi&ecirc;n hỏi: &ldquo;Xấu hổ g&igrave; chứ? C&oacute; c&aacute;i g&igrave; m&agrave; chị phải thẹn th&ugrave;ng? Em chỉ n&oacute;i bộ ngực m&agrave; chị đ&atilde; đỏ hết cả mặt rồi, Vi, chị kh&ocirc;ng phải l&agrave; xử nữ đ&oacute; chứ?&rdquo;</p>

<p>Một tr&agrave;ng ho khan kịch liệt từ trong miệng b&aacute;c Dư ph&aacute;t ra, mặt đen từng vạch đứng dậy, &ldquo;B&aacute;c đi lấy nước uống.&rdquo; Đi c&ograve;n nhanh hơn với chạy, cố gắng c&aacute;ch xa c&aacute;i nơi nguy hiểm tr&ecirc;n địa cầu n&agrave;y, ở đ&acirc;u c&oacute; phụ nữ, ở đ&oacute; c&oacute; hiểm nguy, con n&iacute;t con n&ocirc;i b&acirc;y giờ, c&aacute;i g&igrave; cũng d&aacute;m n&oacute;i . . . . .</p>

<p>Mỹ Vi c&agrave;ng th&ecirc;m hận kh&ocirc;ng thể đ&agrave;o một c&aacute;i lỗ m&agrave; chui lu&ocirc;n cho rồi, con b&eacute; Tiểu Văn n&agrave;y, n&oacute;i ra lời n&agrave;o kh&ocirc;ng l&agrave;m cho người ta đứng h&igrave;nh th&igrave; chưa chịu th&ocirc;i, b&acirc;y giờ bọn trẻ đều sống thử sao? ( Vi tỷ &agrave;, tỷ mới hai mươi mấy c&aacute;i xu&acirc;n xanh th&ocirc;i a&hellip;.)</p>

<p>&ldquo;Vi, rốt cuộc l&agrave; c&oacute; phải thế kh&ocirc;ng?&rdquo;</p>

<p>&ldquo;A, ăn cơm ăn cơm, đ&ugrave;i g&agrave; ăn thật ngon đ&oacute;.&rdquo;</p>

<p>&ldquo;Chị mau trả lời em đi, n&oacute;i một ch&uacute;t th&ocirc;i m&agrave;&hellip;, người ta t&ograve; m&ograve; chết đi &yacute;.&rdquo;</p>

<p>&ldquo;C&agrave; chua n&agrave;y em kh&ocirc;ng ăn sao! Ăn vừa giảm c&acirc;n vừa đẹp da nữa đ&oacute;.&rdquo;</p>

<p>&ldquo;Vi. . . . . .&rdquo;</p>

<p>&ldquo;Được rồi m&agrave;, Tiểu Văn.&rdquo; Đại biểu cho tầng lớp ch&iacute;nh nghĩa c&ograve;n s&oacute;t lại cuối c&ugrave;ng cũng ra mặt, tiện thể mở rộng địa b&agrave;n bu&ocirc;n dưa: &ldquo; Vừa n&atilde;y em n&oacute;i tin b&aacute;t qu&aacute;i, đ&atilde; nổ xong chưa đ&oacute;?&rdquo;</p>

<p>&ldquo;&Agrave;? Chưa hết đ&acirc;u&hellip;, tin hot nhất em c&ograve;n chưa c&oacute; tiết lộ đ&acirc;u, b&aacute;c Dư sao vẫn chưa trở lại thế, người ta c&ograve;n tuy&ecirc;n bố một thể lu&ocirc;n.&rdquo;</p>

<p>&ldquo;Kh&ocirc;ng cần chờ &ocirc;ng ấy, lớn tuổi nhiều chuyện, chị em m&igrave;nh cứ t&aacute;m chuyện chị em ta th&ocirc;i.&rdquo; Đổng Thục Tuệ th&uacute;c giục: &ldquo;Em mau n&oacute;i nha, c&ograve;n c&oacute; c&aacute;i g&igrave; so với việc tổng t&agrave;i trở về c&ograve;n hot hơn thế?&rdquo;</p>

<p>&ldquo;Hừ hừ.&rdquo; B&eacute; Tiểu Văn chống nạnh, &ldquo;Tin tức n&agrave;y l&agrave; em tốn một suất cơm trưa mới mua được đ&oacute;, tuyệt đối l&agrave; n&oacute;ng hổi vừa thổi vừa ăn.&rdquo;</p>

<p>Một suất cơm m&ugrave;a được tin n&oacute;ng h&ocirc;i hổi? Mỹ Vi c&acirc;m n&iacute;n rồi.</p>

<p>&ldquo;Nghe kỹ nha, nghe n&oacute;i tổng t&agrave;i lần n&agrave;y trở về kh&ocirc;ng chỉ l&agrave; v&igrave; thị s&aacute;t c&ocirc;ng việc đ&acirc;u nha.&rdquo; Thần b&iacute; mở trừng hai mắt.</p>

<p>&ldquo;&Agrave;? Vậy c&ograve;n v&igrave; c&aacute;i g&igrave;?&rdquo; Quần ch&uacute;ng hiển nhi&ecirc;n hưởng ứng, ai nấy mặt đều viết hai chữ t&ograve; m&ograve;.</p>

<p>&ldquo;Trừ c&ocirc;ng việc, quan trọng nhất l&agrave;. . . . . .&rdquo; Cố &yacute; k&eacute;o d&agrave;i ngữ điệu, thấy những người nghe tiếp cận tới đ&acirc;y, c&ocirc; b&eacute; h&agrave;i l&ograve;ng gật đầu, d&ugrave;ng một loại &acirc;m thanh thấp nhất n&oacute;i: &ldquo;Hắn muốn c&ugrave;ng Đồng tiểu thư kết h&ocirc;n đấy.&rdquo;</p>

<p>&ldquo;Đau qu&aacute;. . . . . .&rdquo; Mỹ Vi che m&ocirc;i, đau chảy nước mắt.</p>

<p>&ldquo;Sao thế, sao thế?&rdquo; Đổng Thục Tuệ lập tức tới đ&acirc;y ng&oacute; nh&igrave;n.</p>

<p>&ldquo;Cắn phải m&ocirc;i rồi ạ . . . . .&rdquo;</p>

<p>Đổng Thục Tuệ k&eacute;o tay c&ocirc; ra nh&igrave;n một ch&uacute;t, &ldquo;Giời ạ, c&aacute;i con b&eacute; n&agrave;y sao kh&ocirc;ng cẩn thận thế chứ? Cắn mạnh như thế, nh&igrave;n xem, chảy m&aacute;u rồi đ&acirc;y n&agrave;y. Tiểu Văn, đi lấy khăn giấy nhanh l&ecirc;n.&rdquo; Đổng Thục Tuệ thấy c&ocirc; m&ocirc;i đầy m&aacute;u tươi,, lập tức đau l&ograve;ng mắng, nhận lấy khăn giấy, lau cho c&ocirc;, bưng tới cốc nước, &ldquo;Mau s&uacute;c miệng đi.&rdquo;</p>

<p>Tiểu Văn ngay lập tức giễu cợt, &ldquo;Vi, chị sao thế, buổi trưa ăn nhiều thịt thế c&ograve;n chưa đủ, ngay cả m&ocirc;i m&igrave;nh cũng kh&ocirc;ng tha, tham th&igrave; th&acirc;m, ha ha.&rdquo;</p>

<p>&ldquo;Đ&uacute;ng l&agrave;, Tiểu Vi em ăn chậm một ch&uacute;t, c&oacute; ai gi&agrave;nh với em chứ.&rdquo;</p>

<p>&ldquo;. . . . . .&rdquo;</p>

<p>M&ocirc;i của c&ocirc;, đau qu&aacute;.</p>

<p>Tổng t&agrave;i tập đo&agrave;n Duệ Sang, Thạch Qu&acirc;n Nghị c&ugrave;ng với thi&ecirc;n kimtiểu thư Đồng Thị, Đồng Giai Thiến, hai th&aacute;ng sau sẽ kết h&ocirc;n, tin tức n&agrave;y lập tức g&acirc;y oanh động cực lớn. Chưa cần n&oacute;i tới &yacute; sự kết hợp của hai đại gia tộc đại biểu cho &yacute; nghĩa g&igrave;, m&agrave; mới chỉ mới nh&igrave;n v&agrave;o hai nh&acirc;n vật ch&iacute;nh, nam ch&iacute;nh vĩ đại như &aacute;nh mặt trời, nữ ch&iacute;nh xinh đẹp như ti&ecirc;n, hai người họ đứng chung một chỗ, lập tức c&oacute; thể vẽ th&agrave;nh bức họa, ch&iacute;nh l&agrave; thuyết minh ho&agrave;n mỹ nhất cho c&aacute;i gọi l&agrave; &rdquo; Duy&ecirc;n phận trời định&rdquo;.</p>

<p>Thạch, Đồng hai nh&agrave; l&agrave; chỗ quen biết l&acirc;u đời, Đồng gia chỉ c&oacute; một con g&aacute;i độc nhất Đồng Giai Thiến, tương lại to&agrave;n bộ gia sản tiền tỷ đều do c&ocirc; n&agrave;ng thừa kế, từ nhỏ đ&atilde; nhận mu&ocirc;n v&agrave;n sủng &aacute;i, c&ocirc; v&ugrave;ng Thạch Qu&acirc;n Nghị l&agrave; thanh mai tr&uacute;c m&atilde;, hai người từ nhỏ lớn l&ecirc;n c&ugrave;ng nhau ở Mỹ, khi c&ocirc; 15 tuổi liền c&ugrave;ng Thạch Qu&acirc;n Nghị hẹn h&ograve;, chạy một đường d&agrave;i t&igrave;nh y&ecirc;u t&aacute;m năm, năm nay rốt cuộc cũng tu th&agrave;nh ch&iacute;nh quả.</p>

<p>Mặc d&ugrave; chuyện hai người l&agrave; một đ&ocirc;i đều được to&agrave;n d&acirc;n c&ocirc;ng nhận, nhưng chỉ cần một ng&agrave;y c&ograve;n chưa kết h&ocirc;n, c&ograve;n chưa n&oacute;i trước được điều g&igrave;, b&acirc;y giờ chỉ c&ograve;n hai th&aacute;ng nữa, t&igrave;nh y&ecirc;u ngọt ng&agrave;o của ho&agrave;ng tử v&agrave; c&ocirc;ng ch&uacute;a, ch&iacute;nh thức hạn m&agrave;n ho&agrave;n mỹ.</p>

<p>B&ecirc;n ngo&agrave;i cũng đ&atilde; đồn đại x&ocirc;n xao, ở Duệ Sang tập đo&agrave;n th&igrave; độ chảo lửa c&agrave;ng khỏi phải b&agrave;n. ( Bi: 8 l&agrave; thi&ecirc;n chức của chị em)</p>

<p>Nhất l&agrave;, Thạch Qu&acirc;n Nghị, ở trong l&ograve;ng chị em phụ nữ Duệ Sang, từ chị c&oacute; chồng đến em chưa cưới, ch&iacute;nh l&agrave; tổng t&agrave;i cực k&igrave; c&oacute; kh&iacute; ph&aacute;ch đ&agrave;n &ocirc;ng, gi&aacute; trị bản th&acirc;n hơn trăm triệu ( Bi: chắc l&agrave; 100 tr $ đ&oacute;, mắt long lanh ), nghi&ecirc;m nghị, b&igrave;nh tĩnh, lu&ocirc;n giữ m&igrave;nh trong sạch, một mực chung thỉnh, kh&ocirc;ng c&oacute; nghe thấy bất kỳ scandal t&igrave;nh &aacute;i n&agrave;o, từ b&eacute; đ&atilde; l&agrave; nh&acirc;n vật trung t&acirc;m cho người ta ngưỡng mộ, say m&ecirc;, coi như m&igrave;nh kh&ocirc;ng chiếm được, chỉ nh&igrave;n một ch&uacute;t, mơ tưởng một ch&uacute;t, cũng l&agrave; hạnh ph&uacute;c tuyệt vời rồi, cho n&ecirc;n đồng b&agrave;o chị em đối với Đồng Giai Thiến, bốn phần h&acirc;m mộ, s&aacute;u phần ghen tị chết đi được.</p>

<p>Nhưng c&oacute; ghen tị thế n&agrave;o đi nữa, c&ugrave;ng kh&ocirc;ng thể kh&ocirc;ng thừa nhận, Đồng tiểu thư kết đ&ocirc;i c&ugrave;ng Thạch Qu&acirc;n Nghị ch&iacute;nh l&agrave; tuyệt phối. D&aacute;ng người c&ocirc; cao gầy, mỏng manh, bởi v&igrave; mang d&ograve;ng m&aacute;u T&acirc;y Ban Nha, m&agrave; c&aacute;c đường n&eacute;t, h&igrave;nh khối, v&ocirc; c&ugrave;ng r&otilde; n&eacute;t, xinh đẹp chết người. Xuất th&acirc;n cao qu&yacute;, gia t&agrave;i bạc triệu, l&agrave; nh&agrave; thiết kế thời trang ở Mỹ, quần &aacute;o dĩ nhi&ecirc;n l&agrave; người thường kh&ocirc;ng thể thưởng thức, chỉ cần c&ocirc; đứng ở b&ecirc;n Thạch Qu&acirc;n Nghị, hai người ch&iacute;nh l&agrave; ng&ocirc;i sao rực rỡ, hấp dẫn &aacute;nh mắt đồng b&agrave;o.</p>

<p>Bọn họ y&ecirc;u nhau, bọn họ kết h&ocirc;n, tựa hồ cũng chẳng phải l&agrave; chuyện g&igrave; bất thường, m&agrave; l&agrave;, chuyện hiển nhi&ecirc;n.</p>

<p>★★</p>

<p>&ldquo;Chị L&acirc;m, đ&acirc;y l&agrave; thư từ của ph&ograve;ng tổng t&agrave;i ạ&rdquo; Mỹ Vi đem một xấp thư từ thật dầy giao cho thư k&yacute; tổng t&agrave;i, Hồ L&acirc;m.</p>

<p>&ldquo;Sao lại l&agrave; em tới đưa thư?&rdquo; Tuổi gần bốn mươi, Hồ L&acirc;m nhận lấy đống thư kia, trừng mắt nh&igrave;n c&ocirc;, &ldquo;Lại bị chủ nhiệm c&aacute;c em phạt, phải kh&ocirc;ng?&rdquo;</p>

<p>Mỹ Vi c&uacute;i đầu, haizz, chuyện xấu của c&ocirc; bị mọi người xem đến quen rồi. . . . . .</p>

<p>&ldquo;Lần n&agrave;y lại l&agrave;m sao? Tuần trước kh&ocirc;ng phải em đến muộn bị M&atilde; chủ nhiệm phạt sao?&rdquo; B&igrave;nh thường c&ocirc;ng việc đưa thư n&agrave;y đều do c&ocirc; b&eacute; Chung Văn l&agrave;m, nhờ nhiệt t&igrave;nh bu&ocirc;n dưa l&ecirc; của c&ocirc; b&eacute;, Hồ L&acirc;m đối với chuyện t&igrave;nh trong ph&ograve;ng h&agrave;nh ch&iacute;nh tổng hợp hiểu rất l&agrave; r&otilde; r&agrave;ng. D&ugrave; sao tổng t&agrave;i quanh năm kh&ocirc;ng c&oacute; ở Đ&agrave;i Loan, thư k&yacute; bọn họ cũng kh&ocirc;ng cần c&acirc;u nệ như vậy, t&aacute;n gẫu mấy c&acirc;u c&ugrave;ng mấy em đưa tin, chỉ cần thời gian cho ph&eacute;p l&agrave; được.</p>

<p>Lần n&agrave;y l&agrave; bởi v&igrave; c&ocirc; đem to&agrave;n bộ văn kiện chủ nhiệm giao ph&oacute; l&agrave;m rối tung rối m&ugrave; hết cả l&ecirc;n, hơn nữa c&ograve;n giao nhầm ng&agrave;nh&hellip;..T&oacute;m lại l&agrave; quạ bay đầy đầu, l&agrave;m chủ nhiệm tức đến kh&oacute;i bốc đầy đầu, haizz&hellip;&hellip;chuyện mất mặt như thế, c&ocirc; mới kh&ocirc;ng cần chủ động vạch &aacute;o cho người xem lưng đ&acirc;u, đem giấy bi&ecirc;n nhận cho Hồ L&acirc;m k&yacute;, &ldquo;Chị L&acirc;m sao chị vẫn chưa đi ăn trưa ạ?&rdquo; Vội v&agrave;ng chuyển đề t&agrave;i quan trọng hơn.</p>

<p>Đ&atilde; qua giờ ăn trưa, c&aacute;c thư k&yacute; kh&aacute;c ở ph&ograve;ng tổng t&agrave;i cũng đ&atilde; đi ăn, sao chị L&acirc;m vẫn c&ograve;n l&agrave;m việc? Hồ L&acirc;m l&agrave; thư k&yacute; của Thạch Qu&acirc;n Nghị ở chi nh&aacute;nh c&ocirc;ng ty thuộc Đ&agrave;i Bắc, trực tiếp nghe lệnh hắn, bởi v&igrave; lượng c&ocirc;ng việc rất lớn, cho n&ecirc;n dưới c&ocirc; c&ograve;n c&oacute; bốn thư k&yacute; phụ t&aacute; dưới sự quản l&yacute; của c&ocirc;.</p>

<p>K&yacute; xong, đem giấy k&yacute; nhận đưa cho Mỹ Vi, c&ocirc; ngoắc ngoắc tay gọi, c&ocirc; g&aacute;i nhỏ ngốc v&ugrave; v&ugrave; quả nhi&ecirc;n s&aacute;t lại đ&acirc;y , &ldquo;Xảy ra chuyện g&igrave;, xảy ra chuyện g&igrave;?&rdquo;</p>

<p>&ldquo;Em muốn biết v&igrave; sao kh&ocirc;ng?&rdquo; Cười đến v&ocirc; c&ugrave;ng th&acirc;n thiết.</p>

<p>Ack . . . . . Thật ra th&igrave; cũng kh&ocirc;ng muốn đ&acirc;u. Thấy chị L&acirc;m cười đến l&agrave; rực rỡ như vậy, Mỹ Vi lập tức cảm thấy c&oacute; m&ugrave;i vị chuyện xấu.</p>

<p>Hồ L&acirc;m đưa tay đ&egrave; lại bả vai của c&ocirc; &ldquo;Chuyện n&agrave;y trước mắt chỉ c&oacute; chị biết r&otilde; th&ocirc;i đ&oacute;, em ch&iacute;nh l&agrave; thứ hai biết được nha.&rdquo;</p>

<p>C&ocirc; c&oacute; thể kh&ocirc;ng cần l&agrave;m người thứ hai kh&ocirc;ng?</p>

<p>&rdquo; Chị L&acirc;m, em c&ograve;n c&oacute; chuyện. . . . . .&rdquo;</p>

<p>&ldquo;Đến đ&acirc;y, nh&igrave;n em ngoan ngo&atilde;n như thế, chị L&acirc;m mới n&oacute;i cho em biết th&ocirc;i đ&oacute;, l&agrave; tin tức lớn đ&oacute;.&rdquo;</p>

<p>Mồ h&ocirc;i Mỹ Vi tu&ocirc;n như mưa.</p>

<p>&ldquo;Thật ra th&igrave; hai mươi ph&uacute;t trước. . . . . .&rdquo; Giơ giơ l&ecirc;n đồng hồ đeo tay t&iacute;nh to&aacute;n thời gian, &ldquo;Tổng t&agrave;i v&agrave;o ph&ograve;ng l&agrave;m việc.&rdquo;</p>

<p>C&aacute;i g&igrave;! La Mỹ Vi đứng h&igrave;nh, nh&igrave;n chằm chằm Hồ L&acirc;m.</p>

<p>&ldquo;Đ&uacute;ng, l&agrave; thật, vẫn lời đồn đại n&oacute;i tổng t&agrave;i muốn trở về, h&ocirc;m nay tổng t&agrave;i cuối c&ugrave;ng cũng trở lại, đang ở trong đ&oacute; đ&oacute;.&rdquo;</p>

<p>&ldquo;Em. . . . . . Em c&ograve;n c&oacute; chuyện. . . . . .&rdquo; Mỹ Vi lập tức luống cuống tay ch&acirc;n, đem giấy k&yacute; nhận t&ugrave;y tiện nh&eacute;t một b&ecirc;n xoay người bỏ chạy.</p>

<p>Nhưng kh&ocirc;ng c&ograve;n kịp rồi, ph&iacute;a sau truyền đến tiếng mở cửa từ ph&ograve;ng Tổng t&agrave;i, c&ocirc; bỗng chốc hoảng hồn, ch&acirc;n vấp phải b&agrave;n l&agrave;m việc b&ecirc;n cạnh, thẳng tắp th&acirc;n thiết với địa cầu. . . . . .&rdquo;Rầm&rdquo; một tiếng ch&igrave;m vang, trong ph&ograve;ng l&agrave;m việc an tĩnh phi thường r&otilde; r&agrave;ng.</p>

<p>To&agrave;n bộ văn kiện, đồ đạc tr&ecirc;n b&agrave;n tung t&oacute;e xuống đất, m&agrave; bản th&acirc;n c&ocirc; t&eacute; xuống, kh&ocirc;ng chỉ đang gặm nền đ&aacute; l&aacute;t, c&ograve;n đụng tr&uacute;ng một chậu c&acirc;y lớn, c&aacute;i tr&aacute;n m&atilde;nh liệt h&ocirc;n c&aacute;i chậu c&acirc;y, đau đến chảy nước mắt, m&agrave; chậu c&acirc;y bị đổ kia, c&agrave;nh c&agrave;nh l&aacute; l&aacute;, bị c&ocirc; &eacute;p tới nấu nhừ, những b&ugrave;n đất bắn ra, rơi lả tả tr&ecirc;n nền đ&aacute;.</p>

<p>To&agrave;n d&acirc;n đứng h&igrave;nh trong gi&oacute;. . . . . . T&eacute; ng&atilde; cũng si&ecirc;u &ldquo;Thảm thiết&rdquo; như thế, lần đầu ti&ecirc;n trong đời thấy!</p>

<p>Mỹ Vi vừa thẹn th&ugrave;ng vừa l&uacute;ng t&uacute;ng, mặt ch&ocirc;n ở tr&ecirc;n đất kh&ocirc;ng d&aacute;m ngẩng l&ecirc;n , ng&oacute;n tay nhụt ch&iacute; nắm thật chặt l&aacute; xanh c&ugrave;ng b&ugrave;n đất. C&ocirc; động cũng kh&ocirc;ng d&aacute;m động, l&agrave;m sao đ&acirc;y, tiếp theo n&ecirc;n l&agrave;m sao đ&acirc;y? Mất mặt chết đi được, trời ơi giết con đi.</p>

<p>&ldquo;Hồ thư k&yacute;, đ&acirc;y l&agrave; chuyện g&igrave;?&rdquo; Một giọng n&oacute;i uy nghi&ecirc;m vang l&ecirc;n, mang theo lạnh l&ugrave;ng trời sinh, trầm thấp, lại nhẹ nh&agrave;ng, khoan kho&aacute;i, dễ nghe.</p>

<p>&rdquo; Nhếch nh&aacute;c chết đi được.&rdquo; Theo đ&oacute; l&agrave; giọng n&oacute;i nũng nịu, c&ograve;n mang theo v&agrave;i phần ch&acirc;m chọc, &ldquo;Nghị, kh&ocirc;ng ngờ nha, c&ocirc;ng ty của anh lại c&oacute; loại người buồn cười như vậy đ&oacute;.&rdquo;</p>

<p>Mất mặt chết đi! Mỹ Vi gắt gao &ocirc;m chặt nền đ&aacute;, u m&ecirc;, kh&ocirc;ng biết n&ecirc;n l&agrave;m sao cho phải b&acirc;y giờ.</p>

<p>&ldquo;Trời ơi, Tiểu Vi, em sao lại kh&ocirc;ng cẩn thận vậy chứ?&rdquo; Bị c&uacute; ng&atilde; &ldquo;Kinh thi&ecirc;n động địa&rdquo; l&agrave;m sững sờ, Hồ L&acirc;m l&uacute;c n&agrave;y mới lấy lại tinh thần, lập tức tiến l&ecirc;n đỡ Mỹ Vi dậy, &ldquo;T&eacute; c&oacute; bị thương nơi n&agrave;o kh&ocirc;ng em?&rdquo;</p>

<p>Gương mặt b&ugrave;n đất lấm lem h&ograve;a m&agrave;u xanh của l&aacute; c&acirc;y, quần &aacute;o dơ bẩn, b&agrave;n tay bị trầy xước, thật sự c&ocirc; ch&iacute;nh l&agrave;. . . . . . Nhếch nh&aacute;c nha.</p>

<p>&ldquo;Cũng may, h&igrave;nh như l&agrave; b&agrave;n tay trầy da n&egrave;, a, tr&aacute;n của em. . . . . . C&aacute;i tr&aacute;n bị sưng n&agrave;y.&rdquo;</p>

<p>&ldquo;Em kh&ocirc;ng sao ạ.&rdquo; C&ocirc; theo bản năng nắm thật chặt c&agrave;nh c&acirc;y đ&atilde; bị c&ocirc; đ&egrave; n&aacute;t th&ecirc; thảm che ở trước mặt, mất hết mặt mũi rồi, kh&ocirc;ng cần gặp người rồi.</p>

<p>&ldquo;Em che c&aacute;i g&igrave; m&agrave; che.&rdquo; Hồ L&acirc;m tự tay mở ra c&agrave;nh l&agrave; che trước khu&ocirc;n mặt nhếch nh&aacute;c của c&ocirc;, kh&ocirc;ng nhịn được cười, thề với &ocirc;ng giời, kh&ocirc;ng phải c&ocirc; kh&ocirc;ng c&oacute; l&ograve;ng cảm th&ocirc;ng, nhưng m&agrave; con nh&oacute;c n&agrave;y cũng qu&aacute; mạnh mẽ rồi.</p>

<p>&ldquo;Hồ thư k&yacute;?&rdquo; Giọng n&oacute;i chứa tia kh&ocirc;ng ki&ecirc;n nhẫn truyền đến.</p>

<p>&ldquo;A, tổng t&agrave;i.&rdquo; Nghe được gọi m&igrave;nh, Hồ L&acirc;m phản ứng kịp thời, nhịn cười vội v&agrave;ng trả lời: &ldquo;Đ&acirc;y l&agrave; người ph&ograve;ng h&agrave;nh ch&iacute;nh tổng hợp La Mỹ Vi , c&ocirc; ấy tới giao thư .&rdquo;</p>

<p>&ldquo;Ừ.&rdquo; Đ&atilde; biết, chuyện n&agrave;y cũng kh&ocirc;ng cần tiếp tục hỏi nữa, Thạch Qu&acirc;n Nghị c&uacute;i đầu nh&igrave;n về ph&iacute;a vị h&ocirc;n th&ecirc;, &ldquo;Ch&uacute;ng ta đi th&ocirc;i.&rdquo;</p>

<p>Đồng Giai Thiến cau m&agrave;y một mực quan s&aacute;t La Mỹ Vi, sau khi nh&igrave;n kỹ v&ocirc; số lần, cuối c&ugrave;ng cũng mở miệng: &ldquo;La Mỹ Vi, ngươi l&agrave; La Mỹ Vi, tiểu học Th&aacute;nh Nguy&ecirc;n La Mỹ Vi, c&oacute; đ&uacute;ng kh&ocirc;ng?&rdquo;</p>

<p>Mỹ Vi ở đ&aacute;y l&ograve;ng than thở, như vậy, vẫn nhận ra sao?</p>

<p>C&ocirc; ngẩng đầu, cố gắng giật giật kh&oacute;e miệng, &ldquo;Hi, Đồng tiểu thư, đ&atilde; l&acirc;u kh&ocirc;ng gặp.&rdquo;</p>

<p>Một mảnh l&aacute; xanh từ tr&ecirc;n t&oacute;c của c&ocirc; rớt xuống, giắt tr&ecirc;n tr&aacute;n, &aacute;nh mắt đen l&aacute;y của c&ocirc; nh&igrave;n v&ocirc; tội, lắc đầu l&agrave;m phiến l&agrave; bay xuống, ai ngờ bay xuống l&agrave; một mảnh b&ugrave;n đất tung t&oacute;e</p>

<p>Bộ d&aacute;ng buồn cười kia, khiến con ngươi đen nh&aacute;nh của Thạch Qu&acirc;n Nghị tho&aacute;ng qua một nụ cười.</p>

<p>C&ocirc; g&aacute;i n&agrave;y, thật l&agrave; hiếm c&oacute; kh&oacute; t&igrave;m.</p>

<p>&ldquo;T&ocirc;i mới vừa gặp lại c&ocirc;, vẫn cảm thấy nh&igrave;n quen mắt, quả nhi&ecirc;n l&agrave; c&ocirc; nha, La Mỹ Vi.&rdquo; Đồng Giai Thiến tiến l&ecirc;n nh&igrave;n c&ocirc;, một th&acirc;n dơ d&aacute;y bẩn thỉu, &ldquo;C&ocirc; vẫn giống trước kia l&agrave;m cho người ta『 khắc s&acirc;u ấn tượng 』 đấy.&rdquo;</p>

<p>La Mỹ Vi bất đắc dĩ c&uacute;i đầu.</p>

<p>&rdquo; Định luật Murphy &rdquo; , c&agrave;ng lo lắng sẽ xảy ra chuyện, th&igrave; c&agrave;ng c&oacute; khả năng sẽ xảy ra.</p>


</body>
</html>
