<<<<<<< HEAD
<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>&nbsp;Mẹ anh l&agrave; một người kh&aacute; kỹ t&iacute;nh, em nhớ cẩn thận v&agrave; kh&eacute;o l&eacute;o nh&eacute;, nếu biết c&aacute;ch l&agrave;m vừa l&ograve;ng mẹ, mẹ sẽ qu&yacute; em lắm đấy!</p>

<p>Mai gật đầu khe khẽ :</p>

<p>- Em biết rồi, em sẽ cố gắng.</p>

<p>Đ&oacute;n Ho&agrave;ng v&agrave; Mai ở cửa mẹ Ho&agrave;ng cười nhạt :</p>

<p>&nbsp;</p>

<p>&ndash; Hai đứa về đấy &agrave;, v&agrave;o thay quần &aacute;o rồi ra ăn cơm, em n&oacute; chuẩn bị sẵn cả rồi đấy</p>

<p>Mai xăng x&aacute;i đặt t&uacute;i hoa quả l&ecirc;n b&agrave;n rồi xắn tay &aacute;o đon đả :</p>

<p>&ndash; Dạ, để ch&aacute;u dọn m&acirc;m gi&uacute;p em ạ!</p>

<p>Vừa bước đến cửa bếp, mẹ Ho&agrave;ng đ&atilde; nhẹ nh&agrave;ng :</p>

<p>- C&ograve;n con g&agrave; ở tr&ecirc;n thớt đấy chưa chặt đ&acirc;u, ch&aacute;u v&agrave;o chặt b&agrave;y ra đĩa rồi mọi người c&ugrave;ng ăn.</p>

<p><img alt="me-chong-kho-tinh" src="http://www.truyenngan.com.vn/images/Phuongvtm/2012.09/me-chong-kho-tinh.jpg" style="height:333px; width:500px" /></p>

<p>Mai v&acirc;ng dạ chạy v&agrave;o bếp, một con g&agrave; luộc sẵn v&agrave; một chiếc dao đ&atilde; nằm ở đ&oacute; tự bao giờ. Mai cầm dao bắt đầu c&ocirc;ng việc chặt g&agrave; của m&igrave;nh, n&agrave;ng loay hoay m&agrave; kh&ocirc;ng biết chặt thế n&agrave;o cho hợp l&yacute;. C&aacute;i thớt qu&aacute; b&eacute; v&agrave; con dao th&igrave; qu&aacute; nhỏ, lại c&oacute; vẻ c&ugrave;n. N&agrave;ng nh&igrave;n quanh, chẳng thấy con dao n&agrave;o nữa, cũng chẳng thấy một c&aacute;i thớt n&agrave;o to hơn. N&agrave;ng nghĩ bụng : &quot;hay l&agrave; mẹ anh muốn thử m&igrave;nh&quot;.</p>

<p>N&agrave;ng nhắm mắt nhắm mũi cố lấy hết sức gi&aacute;ng một nh&aacute;t xuống con g&agrave;, g&agrave; kh&ocirc;ng đứt, nước bắn tung t&oacute;e su&yacute;t rơi xuống đất. N&agrave;ng lu&yacute;nh qu&yacute;nh xoay con g&agrave; lại giữa thớt gi&aacute;ng th&ecirc;m một nh&aacute;t nữa. Lần n&agrave;y th&igrave; conn g&agrave; đ&atilde; chia ra l&agrave;m đ&ocirc;i nhưng c&oacute; vẻ chẳng đẹp mắt ch&uacute;t n&agrave;o. N&agrave;ng do dự định hỏi con dao sắc hơn cho dễ chặt nhưng lại ngại, n&agrave;ng vật lộn với con g&agrave; gần mười lăm ph&uacute;t.</p>

<p>Khi đĩa g&agrave; được b&agrave;y ra,d&ugrave; cố sắp xếp để che đậy những phần n&aacute;t nhưng cũng kh&ocirc;ng thể n&oacute;i đ&oacute; l&agrave; một đĩa thịt g&agrave; đẹp được. N&agrave;ng bối rối đặt đĩa thịt l&ecirc;n m&acirc;m trong khi mẹ Ho&agrave;ng v&agrave; c&ocirc; em g&aacute;i đ&atilde; ngồi đợi sẵn. Mẹ ch&agrave;ng gắp một miếng thịt g&agrave; cho v&agrave;o b&aacute;t của m&igrave;nh, b&agrave; nhăn mặt, miếng thịt vừa to lại vừa xốc xếch.</p>

<p>Mai lắp bắp :</p>

<p>&ndash; Dạ, tại dao c&ugrave;n qu&aacute;, thớt lại b&eacute; n&ecirc;n ch&aacute;u....</p>

<p>Ho&agrave;ng chữa thẹn cho người y&ecirc;u :</p>

<p>&ndash; Th&ocirc;i, đằng n&agrave;o cũng chặt rồi, một con g&agrave; ra đấy cả m&agrave;, mọi người ăn đi</p>

<p>Mẹ Ho&agrave;ng lại nhỏ nhẹ :</p>

<p>- Lần sau chặt g&agrave; phải biết chặt đ&ocirc;i con g&agrave; ra, rồi chặt c&aacute;nh, đến đ&ugrave;i, n&oacute; mới đẹp v&agrave; ngon được.</p>

<p>Mai l&iacute; nh&iacute; :</p>

<p>&ndash; Dạ ch&aacute;u biết rồi ạ! &ndash; Trong bụng n&agrave;ng lại nghĩ thầm, r&otilde; r&agrave;ng m&igrave;nh cũng chặt đ&uacute;ng quy tr&igrave;nh, nhưng dao c&ugrave;n như thế ai m&agrave; chặt đẹp được chứ!</p>

<p>Bữa ăn tr&ocirc;i đi trong im lặng, v&agrave;i lần n&agrave;ng c&oacute; &yacute; định gắp cho mẹ Ho&agrave;ng nhưng cứ thấy ngại ng&ugrave;ng, n&agrave;ng c&uacute;i đầu ăn hết b&aacute;t cơm rồi xin ph&eacute;p rời m&acirc;m. Ho&agrave;ng k&eacute;o người y&ecirc;u ngồi lại ăn th&ecirc;m nhưng Mai từ chối, n&agrave;ng cảm thấy kh&oacute; ăn, c&oacute; c&aacute;i g&igrave; đ&oacute; cứ ngh&egrave;n nghẹn ở cổ.</p>

<p>Xong bữa n&agrave;ng lại xăng x&aacute;i chạy ra rửa b&aacute;t, c&ocirc; em của Ho&agrave;ng cười tươi :</p>

<p>&ndash; Mấy khi c&oacute; người rửa b&aacute;t hộ, chị rửa đi nh&eacute;, em đi tắm một ch&uacute;t. Mai cười gật đầu.</p>

<p>***</p>

<p>Buổi trưa, khi mọi người đi ngủ hết, Ho&agrave;ng cũng leo l&ecirc;n giường ngủ bỏ mặc Mai một m&igrave;nh ở ghế s&ocirc; pha. Mẹ của Ho&agrave;ng ngủ được một l&uacute;c đi ra ph&ograve;ng kh&aacute;ch thấy Mai đang gật g&ugrave; b&ecirc;n giường của Ho&agrave;ng b&agrave; vội bảo :</p>

<p>- Ch&aacute;u l&ecirc;n ghế s&ocirc; pha ngủ một giấc đi.</p>

<p>N&agrave;ng im lặng đứng dậy định đi th&igrave; Ho&agrave;ng tỉnh dậy, anh vội v&atilde; :</p>

<p>&ndash; Th&ocirc;i, em ngủ ở giường anh đ&acirc;y n&agrave;y, để anh ngủ ở ghế cho.</p>

<p>Mẹ Ho&agrave;ng lườm một c&aacute;i rồi đi v&agrave;o ph&ograve;ng bỏ mặc Mai v&agrave; Ho&agrave;ng ở lại với c&aacute;i nh&igrave;n ngơ ng&aacute;c. Mai thấy tủi th&acirc;n, n&agrave;ng n&oacute;i dỗi :</p>

<p>- Th&ocirc;i, anh ngủ tr&ecirc;n giường đi, kh&ocirc;ng mẹ anh lại x&oacute;t, em ngủ ghế cũng được.</p>

<p>Ho&agrave;ng k&eacute;o Mai lại nhưng n&agrave;ng đ&atilde; &ocirc;m gối đến ghế s&ocirc; pha. Mai &uacute;p mặt v&agrave;o gối, quay v&agrave;o b&ecirc;n trong, một giọt nước mắt tủi th&acirc;n tr&agrave;o ra, n&agrave;ng bắt đầu cảm nhận sự kh&oacute; khăn của việc l&agrave;m d&acirc;u bắt đầu đến với m&igrave;nh.</p>

<p><img alt="me-chong-kho-tinh-1" src="http://www.truyenngan.com.vn/images/Phuongvtm/2012.09/me-chong-kho-tinh-1.jpg" style="height:500px; width:500px" /></p>

<p>***</p>

<p>Lần thứ hai Mai v&agrave;o nh&agrave; Ho&agrave;ng đ&oacute; l&agrave; dịp n&agrave;ng nghỉ Tết, gh&eacute; lại th&agrave;nh phố chơi mấy ng&agrave;y khi Ho&agrave;ng năn nỉ. N&agrave;ng biết thế n&agrave;o m&igrave;nh cũng sẽ chung sống với Ho&agrave;ng v&agrave; cả mẹ Ho&agrave;ng n&ecirc;n n&agrave;ng cũng kh&ocirc;ng muốn mẹ ch&agrave;ng phật l&ograve;ng nhiều. Đ&oacute;n n&agrave;ng ở cửa vẫn l&agrave; nụ cười nhạt của mẹ Ho&agrave;ng. Nhưng khi thấy Mai x&aacute;ch một t&uacute;i qu&agrave; to, b&agrave; đ&atilde; vội đỡ lấy cho mai, xu&yacute;t xoa hỏi thăm về c&ocirc;ng việc v&agrave; c&acirc;u chuyện đi đường của Mai.</p>

<p>B&agrave; vồn v&atilde; :</p>

<p>&ndash; Lương của Mai được bao nhi&ecirc;u một th&aacute;ng m&agrave; mua qu&agrave; cho nh&agrave; c&ocirc; nhiều thế n&agrave;y?</p>

<p>Mai ấp &uacute;ng :</p>

<p>-Dạ, ch&aacute;u cũng mới đi l&agrave;m được hơn một năm n&ecirc;n lương c&ograve;n thấp lắm &agrave;, tết nhất ch&aacute;u mua hộp qu&agrave; biếu gia đ&igrave;nh c&ocirc; chứ kh&ocirc;ng c&oacute; g&igrave; nhiều đ&acirc;u ạ!</p>

<p>Ho&agrave;ng từ ngo&agrave;i s&acirc;n chạy v&agrave;o, chỉ hộp qu&agrave; to hơn tr&ecirc;n b&agrave;n dặn Mai :</p>

<p>&ndash; T&yacute; nữa em nhớ mang hộp qu&agrave; anh mua về biếu bố mẹ, kh&ocirc;ng lại qu&ecirc;n mất. Ra tết rỗi th&igrave; anh qua nh&agrave; em chơi sau, chắc trong tết anh bận phụ mẹ lau dọn nh&agrave; cửa.</p>

<p>Mẹ Ho&agrave;ng lại đặt c&aacute;i ngu&yacute;t d&agrave;i l&ecirc;n m&ocirc;i:</p>

<p>&ndash; &Ocirc;i, t&ocirc;i cứ tưởng anh chị mua cho gia đ&igrave;nh n&agrave;y đấy, thế ra hộp kia l&agrave; cho b&ecirc;n bố mẹ vợ tương lai &agrave;? Cậu Ho&agrave;ng qu&yacute; h&oacute;a nhỉ, mẹ đẻ ở đ&acirc;y cậu đ&atilde; bao giờ mua cho c&aacute;i g&igrave; m&agrave; chưa g&igrave; b&ecirc;n vợ đ&atilde; đầy đủ nhỉ?</p>

<p>Ho&agrave;ng nhăn mặt :</p>

<p>-Mẹ!</p>

<p>Biết &yacute; Mai chữa thẹn :</p>

<p>- Dạ th&ocirc;i, nh&agrave; c&ocirc; cứ để đấy trang tr&iacute; b&agrave;n thờ tết với cả biếu b&ecirc;n anh em nội ngoại, ch&aacute;u về qu&ecirc; ch&aacute;u mua sau cũng được ạ! Đường xa xe cộ dịp tết lại đ&ocirc;ng ch&aacute;u mang về chắc sợ vỡ mất th&igrave; tiếc lắm!</p>

<p>Mẹ Ho&agrave;ng kh&ocirc;ng n&oacute;i g&igrave;, b&agrave; đứng dậy đi v&agrave;o nh&agrave; bỏ mặc Mai v&agrave; Ho&agrave;ng đứng ngẩn ngơ nh&igrave;n nhau.</p>

<p>Mai thấy uất ức, n&agrave;ng cầm t&uacute;i x&aacute;ch d&ugrave;ng dằng định về nhưng Ho&agrave;ng đ&atilde; k&eacute;o n&agrave;ng lại, xin lỗi n&agrave;ng rối r&iacute;t :</p>

<p>&ndash; Th&igrave; anh đ&atilde; bảo m&agrave;, mẹ kh&oacute; t&iacute;nh, em phải biết c&aacute;ch m&agrave; chiều mẹ chứ!</p>

<p>Mai chua ch&aacute;t :</p>

<p>&ndash; Em chiều theo kiểu n&agrave;o được anh?</p>

<p>***</p>

<p>Mai b&agrave;n bạc với Ho&agrave;ng chuyện ở ri&ecirc;ng. N&agrave;ng nghĩ lấy nhau rồi n&agrave;ng sẽ kh&ocirc;ng thể ở chung với mẹ chồng được v&igrave; n&agrave;ng cảm gi&aacute;c nghẹt thở mỗi khi đối diện với mẹ của Ho&agrave;ng. N&agrave;ng sợ xung đột sẽ xảy ra khi về ở chung trong một m&aacute;i nh&agrave;. Nhưng khi vừa n&oacute;i &yacute; định đ&oacute; ra Ho&agrave;ng đ&atilde; từ chối ngay :</p>

<p>- Kh&ocirc;ng được, vợ chồng m&igrave;nh phải ở với mẹ chứ, em kh&ocirc;ng thương mẹ sao? Anh đ&atilde; n&oacute;i với em rồi c&ograve;n g&igrave;, ba mất sớm, mẹ tự m&igrave;nh nu&ocirc;i hai anh em anh trưởng th&agrave;nh, mẹ kh&oacute; t&iacute;nh l&agrave; điều đương nhi&ecirc;n. Em phải hiểu v&agrave; th&ocirc;ng cảm cho mẹ anh chứ!</p>

<p>Mai ph&acirc;n bua :</p>

<p>&ndash; Em hiểu, nhưng em c&oacute; cảm gi&aacute;c mẹ hơi khắt khe với em, hay em l&agrave;m c&aacute;i g&igrave; sai? Nếu cưới nhau m&agrave; suốt ng&agrave;y em bị mẹ mắng th&igrave; chắc em kh&ocirc;ng chịu được đ&acirc;u.</p>

<p>Ho&agrave;ng nhẹ nh&agrave;ng :</p>

<p>&ndash; Anh biết em kh&oacute; xử như thế n&agrave;o nhưng em cần cố gắng thật nhiều hơn nữa để l&agrave;m vừa l&ograve;ng mẹ th&igrave; mẹ sẽ chiều em th&ocirc;i m&agrave;. Cuộc sống th&agrave;nh phố n&oacute; kh&aacute;c ở n&ocirc;ng th&ocirc;n, em phải biết c&aacute;ch h&ograve;a nhập chứ!</p>

<p>Mai nhăn mặt kh&oacute; chịu :</p>

<p>&ndash; Anh kh&ocirc;ng phải dạy em, &iacute;t ra em cũng học ở th&agrave;nh phố bảy năm, hai năm em đi l&agrave;m nữa kh&ocirc;ng &iacute;t để em kh&ocirc;ng hiểu g&igrave; về cuộc sống th&agrave;nh phố.</p>

<p>Ho&agrave;ng im bặt, ch&agrave;ng chui v&agrave;o l&ograve;ng Mai tỏ &yacute; hối lỗi nhưng Mai đ&atilde; đẩy anh ra. Mai lạnh l&ugrave;ng :</p>

<p>- Em muốn y&ecirc;n tĩnh một l&uacute;c!</p>

<p><img alt="me-chong-kho-tinh-2" src="http://www.truyenngan.com.vn/images/Phuongvtm/2012.09/me-chong-kho-tinh-2.jpg" style="height:267px; width:500px" /></p>

<p>***</p>

<p>8.3 Mai xin nghỉ sớm v&agrave;o shop quần &aacute;o t&igrave;m mua cho mẹ Ho&agrave;ng một bộ quần &aacute;o. Vừa chọn Mai vừa nghĩ xem v&oacute;c d&aacute;ng của mẹ Ho&agrave;ng như thế n&agrave;o để mua cho ph&ugrave; hợp. Suốt hai tiếng lựa chọn n&agrave;ng đ&atilde; mua được hai bộ cho mẹ Ho&agrave;ng v&agrave; một bộ cho mẹ m&igrave;nh. N&agrave;ng đ&oacute;ng g&oacute;i cẩn thận ra bưu điện gửi về cho hai mẹ.</p>

<p>Hai ng&agrave;y sau, mẹ Mai gọi điện ra rối r&iacute;t :</p>

<p>&ndash; Con g&aacute;i mẹ chu đ&aacute;o thế, lại c&ograve;n nhớ ng&agrave;y 8.3 mua qu&agrave; cho mẹ nữa cơ &agrave;? Thế c&oacute; biết đường mua qu&agrave; cho mẹ của cậu Ho&agrave;ng kh&ocirc;ng?</p>

<p>Mai vui vẻ :</p>

<p>&ndash; Dạ con c&oacute; nhớ mẹ ạ!</p>

<p>Hai ng&agrave;y h&ocirc;m sau Ho&agrave;ng sang chơi, ch&agrave;ng buồn buồn bảo :</p>

<p>&ndash; Em mua qu&agrave; cho mẹ m&agrave; chẳng để &yacute; g&igrave; cả, đến c&aacute;i m&aacute;c em cũng l&agrave;m bung ra, l&agrave;m mẹ cứ nghĩ l&agrave; h&agrave;ng hiệu giả, mẹ chẳng chịu mặc kia k&igrave;a.</p>

<p>Mai uất ức :</p>

<p>&ndash; Gửi bưu điện th&igrave; n&oacute; phải c&oacute; qu&aacute; tr&igrave;nh vận chuyển bốc dỡ h&agrave;ng, va chạm rơi m&aacute;c th&igrave; c&oacute; g&igrave; to t&aacute;t đ&acirc;u m&agrave; phải thế! Mẹ anh kh&ocirc;ng mặc th&igrave; th&ocirc;i, em cũng v&igrave; nhớ đến ng&agrave;y m&agrave; quan t&acirc;m, sao cứ phải khắt khe thế cơ chứ!</p>

<p>Ho&agrave;ng nhăn nh&oacute; :</p>

<p>- Th&igrave; em gọi điện về m&agrave; giải th&iacute;ch với mẹ, sao lại qu&aacute;t anh! M&agrave; sao dạo n&agrave;y anh thấy em kh&oacute; t&iacute;nh thật đấy</p>

<p>Mai vặc lại:</p>

<p>&ndash; Thế 8.3 anh mua qu&agrave; g&igrave; gửi về cho mẹ em, em nghe mẹ n&oacute;i anh c&ograve;n kh&ocirc;ng gọi điện ch&uacute;c mừng mẹ em cơ m&agrave;!</p>

<p>Ho&agrave;ng ngớ người, ch&agrave;ng ta g&atilde;i đầu g&atilde;i tai :</p>

<p>&ndash; &Agrave; th&igrave;...c&ocirc;ng việc lu bu anh qu&ecirc;n mất! M&agrave; mẹ em nữa cũng lắm chuyện cơ, c&oacute; thế m&agrave; cũng n&oacute;i với em!</p>

<p>Mai bực tức :</p>

<p>&ndash; Em thấy anh c&oacute; qu&ecirc;n bạn anh đ&acirc;u, h&ocirc;m đấy anh c&ograve;n nhắn tin, gọi điện ch&uacute;c mừng mấy người liền cơ m&agrave;, sao mẹ em m&agrave; anh lại qu&ecirc;n được chứ!</p>

<p>Ho&agrave;ng đỏ mặt kh&ocirc;ng n&oacute;i được lời n&agrave;o!</p>

<p>***</p>

<p>Lần thứ ba Mai v&agrave;o nh&agrave; Ho&agrave;ng đ&oacute; l&agrave; khi hai gia đ&igrave;nh c&oacute; &yacute; định đi lại với nhau để b&agrave;n chuyện cưới xin cho Ho&agrave;ng v&agrave; Mai. Mai đi c&ugrave;ng bố v&agrave; mẹ, b&aacute;c trai, b&aacute;c g&aacute;i đến nh&agrave; Ho&agrave;ng v&agrave;o một buổi chiều m&ugrave;a h&egrave;. Khi xe vừa đỗ trước cổng, Ho&agrave;ng đ&atilde; đứng đ&oacute; tự bao giờ tươi cười đ&oacute;n bố mẹ vợ v&agrave; c&aacute;c b&aacute;c. Mẹ của Ho&agrave;ng đứng ở cửa đon đả :</p>

<p>&ndash; &Ocirc;i c&aacute;c b&aacute;c, qu&yacute; h&oacute;a qu&aacute;, c&aacute;c b&aacute;c v&agrave;o đ&acirc;y chơi, ngồi xơi với gia đ&igrave;nh em bữa cơm th&acirc;n mật!</p>

<p>Khi bốn người b&ecirc;n nh&agrave; Mai đi xuống, định bước v&agrave;o nh&agrave; th&igrave; mẹ Ho&agrave;ng k&ecirc;u l&ecirc;n :</p>

<p>&ndash; Ấy ấy, c&aacute;c b&aacute;c cứ để d&eacute;p ở ngo&agrave;i, em mới lau nh&agrave;, ở th&agrave;nh phố n&oacute; kh&aacute;c n&ocirc;ng th&ocirc;n l&agrave; vậy đấy!</p>

<p>Bố mẹ Mai v&agrave; hai b&aacute;c khựng lại, nhưng rồi họ vui vẻ cởi d&eacute;p đi v&agrave;o nh&agrave;, Mai đứng đ&oacute; l&ograve;ng đầy hối hận, hối hận v&igrave; đưa ba mẹ v&agrave; hai b&aacute;c đến ra mắt nh&agrave; chồng tương lai m&agrave; bị coi chẳng ra g&igrave; cả. Đến cả c&aacute;i d&eacute;p cũng bảo phải tuột ra, c&oacute; phải bố mẹ n&agrave;ng kh&ocirc;ng biết c&aacute;ch đ&acirc;u m&agrave; phải như thế! N&agrave;ng thấy m&igrave;nh xấu hổ kh&ocirc;ng biết chui v&agrave;o đ&acirc;u được. Bữa cơm ra mắt hai họ trầm hẳn xuống.</p>

<p><img alt="me-chong-kho-tinh-3" src="http://www.truyenngan.com.vn/images/Phuongvtm/2012.09/me-chong-kho-tinh-3.jpg" style="height:500px; width:500px" /></p>

<p>***</p>

<p>Mai n&oacute;i lời chia tay Ho&agrave;ng trong một ng&agrave;y c&aacute;ch lễ ra mắt kh&ocirc;ng xa. Ho&agrave;ng ngơ ng&aacute;c kh&ocirc;ng hiểu chuyện g&igrave; đang xảy ra.</p>

<p>Mai bảo &quot;Em kh&ocirc;ng thể lấy một người m&agrave; mẹ anh ấy v&agrave; cả anh ấy kh&ocirc;ng biết tr&acirc;n trọng em v&agrave; gia đ&igrave;nh em!&quot;</p>


</body>
</html>
=======
<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>anh nam dep trai</p>


</body>
</html>
>>>>>>> develope
