<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>C&ocirc; nghĩ về những ng&agrave;y d&agrave;i đăng đẳng m&igrave;nh vừa trải qua. 24 tuổi, c&ocirc; dường như c&oacute; tất cả những g&igrave; m&agrave; người ta ao ước: sức khỏe, c&ocirc;ng việc, tuổi xu&acirc;n. Rồi một biến cố lớn xảy đến với c&ocirc; cũng như gia đ&igrave;nh c&ocirc; &ndash; c&ocirc; bị nhiễm tr&ugrave;ng m&aacute;u kh&ocirc;ng r&otilde; nguy&ecirc;n nh&acirc;n. C&ocirc; sốt cao sắp chạm ngưỡng 42 độ nhưng kh&ocirc;ng c&aacute;ch g&igrave; hạ sốt được. C&ocirc; bắt đầu c&oacute; những ảo gi&aacute;c, l&uacute;c đầu n&oacute; mơ hồ, thỉnh thoảng xuất hiện. Về sau, n&oacute; hiện l&ecirc;n r&otilde; dần, r&otilde; dần, khiến c&ocirc; kh&ocirc;ng c&ograve;n ph&acirc;n biệt được l&agrave; tỉnh hay mơ. C&ocirc; thấy m&igrave;nh bị đưa v&agrave;o một bệnh viện tr&aacute; h&igrave;nh. Họ muốn mổ lấy nội tạng của c&ocirc;. Người ta ti&ecirc;m cho c&ocirc; một liều thuốc ngủ cực mạnh. C&ocirc; v&ugrave;ng th&eacute;t, gi&atilde;y giụa rồi ngất lịm đi. Tỉnh dậy, c&ocirc; thấy m&igrave;nh ở trong một căn ph&ograve;ng tối chật hẹp v&agrave; ẩm ướt. Cảm gi&aacute;c đau buốt khắp người, kh&ocirc;ng c&ograve;n ch&uacute;t sức lực. C&ocirc; thảng thốt gọi mẹ, nhất định mẹ sẽ t&igrave;m thấy c&ocirc;. C&ocirc; chờ đợi từng ng&agrave;y, từng ng&agrave;y...</p>


</body>
</html>
