<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Content</title>
<meta charset="utf-8">

<meta name="description" content="example">


</head>
<body>
<p>L&atilde;nh đạo Triều Ti&ecirc;n v&agrave; H&agrave;n Quốc tối 27/4 dự tiệc chi&ecirc;u đ&atilde;i sau một ng&agrave;y hội đ&agrave;m k&iacute;n v&agrave; tham gia nhiều hoạt động chung.&nbsp;</p>

<p>Tại buổi tiệc diễn ra ở Nh&agrave; H&ograve;a b&igrave;nh s&aacute;t bi&ecirc;n giới, &ocirc;ng Kim v&agrave; &ocirc;ng Moon tươi cười c&ugrave;ng nhau cầm một chiếc b&uacute;a đập v&agrave;o v&ograve;m chocolate tr&ecirc;n b&agrave;n.</p>

<p>Chiếc v&ograve;m liền t&aacute;ch đ&ocirc;i, h&eacute; lộ một chiếc b&aacute;nh kem m&agrave;u trắng c&oacute; h&igrave;nh bản đồ b&aacute;n đảo Triều Ti&ecirc;n m&agrave;u xanh ở tr&ecirc;n. Theo&nbsp;<em>Mirror</em>, chiếc b&aacute;nh c&oacute; t&ecirc;n &quot;M&ugrave;a xu&acirc;n của nh&acirc;n d&acirc;n&quot;, l&agrave; một sắp đặt của ph&iacute;a H&agrave;n Quốc nhằm&nbsp;thể hiện thiện ch&iacute; h&ograve;a giải d&acirc;n tộc.</p>

<p>Ngo&agrave;i chiếc b&aacute;nh lớn, tr&ecirc;n đĩa của mỗi l&atilde;nh đạo c&ograve;n c&oacute; một v&ograve;m chocolate nhỏ chứa chiếc b&aacute;nh kem với h&igrave;nh bản đồ b&eacute; hơn.&nbsp;</p>

<p>Chiếc b&aacute;nh hiển thị cả nh&oacute;m đảo tranh chấp giữa H&agrave;n Quốc v&agrave; Nhật Bản Takeshima/Dokdo.&nbsp;Nh&oacute;m đảo nằm ở v&ugrave;ng biển giữa Nhật Bản v&agrave; b&aacute;n đảo Triều Ti&ecirc;n, l&agrave; một trong những nguy&ecirc;n nh&acirc;n g&acirc;y căng thẳng cho quan hệ hai nước l&acirc;u nay. Trước sự kiện tr&ecirc;n, Tokyo từng l&ecirc;n tiếng phản đối việc m&oacute;n b&aacute;nh c&oacute; bản đồ g&acirc;y tranh c&atilde;i n&agrave;y được đưa v&agrave;o hội nghị thượng đỉnh li&ecirc;n Triều.</p>


</body>
</html>
